{% set showCounter = showCounter ?? true %}
{% set wishlistWidgetOptions = { showCounter: showCounter } %}
{% set icon = icon|default('heart') %}
{% set showLabel = showLabel|default(false) %}

{% set wishlistStorageOptions = {
    listPath: path('frontend.wishlist.product.list'),
    mergePath: path('frontend.wishlist.product.merge'),
    pageletPath: path('frontend.wishlist.product.merge.pagelet'),
} %}

{% set defaultClasses = {
    button: ['btn', 'wishlist-action-btn'],
    icon: ['position-relative', 'd-flex', 'justify-content-center', 'align-items-center'],
    badge: ['position-absolute', 'top-0', 'start-100', 'translate-middle', 'badge', 'rounded-pill'],
    label: []
} %}

{% if classes is defined %}
    {% set classes = defaultClasses|sh_merge_deep(classes) %}
{% else %}
    {% set classes = defaultClasses %}
{% endif %}

{% if not showCounter %}
    {% set classes = defaultClasses|sh_merge_deep(classes) %}
    {% set classes = classes|sh_merge_deep({
        badge: ['d-none']
    }) %}
{% endif %}

{% block shogun_component_wishlist_action %}
    <a class="{{ classes.button|join(' ') }}"
        href="{{ path('frontend.wishlist.page') }}"
        title="{{ 'header.wishlist'|trans|striptags }}"
        aria-label="{{ 'header.wishlist'|trans|striptags }}">

        {% block shogun_component_wishlist_action_icon %}
            <span class="{{ classes.icon|join(' ') }}">

                {% block shogun_component_wishlist_action_icon_element %}
                    {{sh_icon(icon)}}
                {% endblock %}

                {% block shogun_component_wishlist_action_badge %}
                    <span class="{{ classes.badge|join(' ') }}"
                        id="wishlist-basket"
                        data-wishlist-storage="true"
                        data-wishlist-storage-options="{{ wishlistStorageOptions|json_encode }}"
                        data-wishlist-widget="true"
                        data-wishlist-widget-options="{{ wishlistWidgetOptions|json_encode }}"
                    ></span>
                {% endblock %}
            </span>
        {% endblock %}

        {% block shogun_component_wishlist_action_label %}
            {% if showLabel %}
                <span class="{{ classes.label|join(' ') }}">
                    {{ 'header.wishlist'|trans|striptags }}
                </span>
            {% endif %}
        {% endblock %} 
    </a>
{% endblock %}
