{% sw_extends '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}

{% block layout_header_actions_wishlist_widget %}
    {% set showCounter = showCounter ?? true %}
    {% set wishlistStorageOptions = {
        listPath: path('frontend.wishlist.product.list'),
        mergePath: path('frontend.wishlist.product.merge'),
        pageletPath: path('frontend.wishlist.product.merge.pagelet'),
    } %}
    {% set wishlistWidgetOptions = { showCounter: showCounter } %}

    {{sh_icon('heart')}}
    
    <span class="header-wishlist-badge header-action-badge position-absolute top-0 start-100 translate-middle badge rounded-pill"
          id="wishlist-basket"
          data-wishlist-storage="true"
          data-wishlist-storage-options="{{ wishlistStorageOptions|json_encode }}"
          data-wishlist-widget="true"
          data-wishlist-widget-options="{{ wishlistWidgetOptions|json_encode }}"
    ></span>
{% endblock %}