/** checkout aside **/
.checkout-aside-container {
    background-color: var(--sidebar-bg-color);
    border: var(--sidebar-border-width) solid var(--sidebar-border-color);
    border-radius: var(--sidebar-border-radius);

    .cart-heading-title {
        font-size: var(--sidebar-header-fs, 24px);
        font-weight: var(--sidebar-header-fw, 600);
    }
}
.checkout-aside-summary-header,
.checkout-aside-product-header {
    font-size: var(--sidebar-header-fs, 20px);
    font-weight: var(--sidebar-header-fw, 600);
}

/** summaries **/
.cart-summary-list {
    max-width: var(--summary-list-max-w, none);
}
.cart-summary-item-label,
.cart-summary-item-value {
    font-size: var(--summary-item-font-size);
    font-weight: var(--summary-item-font-weight, inherit);
    color: var(--summary-item-color, inherit);
}