.footer-main {
    background-color: var(--footer-bg-color, var(--white));
    color: var(--footer-color, inherit);

    a {
        color: var(--footer-link-color, var(--footer-color));
        
        &:hover {
            color: var(--footer-link-hover-color, var(--footer-link-color));
        }
    }
}