.form-control {
    color: var(--input-color, var(--body-color));
    padding: var(--input-padding-y, var(--spacer-xs)) var(--input-padding-x, var(--spacer-lg));
    background-color: var(--input-bg, var(--body-bg));
    border-width: var(--input-border-width, var(--border-width));
    border-color: var(--input-border-color, var(--border-color));
    border-radius: var(--input-radius, var(--border-radius));

    &:focus {
        color: var(--input-color-focus, var(--input-color));
        background-color: var(--input-bg-focus, var(--input-bg));
        border-color: var(--input-border-color-focus, var(--input-border-color));
    }

    &::placeholder {
        color: var(--input-placeholder-color, inherit);
    }
}

.form-select {
    padding: var(--input-padding-y, var(--spacer-xs)) var(--input-padding-x, var(--spacer-lg));
}