.line-item-img {
    aspect-ratio: var(--product-image-aspect-ratio);
    object-fit: var(--product-image-object-fit);
    object-position: var(--product-image-object-position);
    background-color: var(--product-image-bg-color);
}
.line-item-image-container {
    // --line-item-image-width: 64px;
}