.method-option-label {
    background-color: var(--method-option-bg, transparent);
    border: var(--method-option-border-width, 2px) solid var(--method-option-border-color, var(--border-color));
    border-radius: var(--method-option-border-radius, var(--border-radius));
    padding: var(--method-option-padding-y, var(--spacer-sm)) var(--method-option-padding-y, var(--spacer-lg));
    gap: var(--method-option-gap-y, var(--spacer-xs)) var(--method-option-gap-x, var(--spacer-xs));
    cursor: var(--method-option-cursor, pointer);
    transition: all 200ms;

    &:hover {
        --method-option-border-color: var(--method-option-hover-border-color);
    }
}
.method-option-input {
    @extend .d-none;

    &:checked {

        + .method-option-label {
            --method-option-border-color: var(--method-option-checked-border-color, var(--primary));
            --method-option-bg: var(--method-option-checked-bg, transparent);
            --method-option-name-color: var(--method-option-checked-name-color, inherit);
        }
    }
}
.method-option-name {
    font-size: var(--method-option-name-fs, var(--body-font-size));
    font-weight: var(--method-option-name-fw, inherit);
    color: var(--method-option-name-color, inherit);
}
.method-option-description {
    font-size: var(--method-option-description-fs, var(--body-font-size));
    font-weight: var(--method-option-description-fw, inherit);
    color: var(--method-option-description-color, inherit);
}
.method-option-content {
    gap: var(--method-option-gap-y, var(--spacer-xs)) var(--method-option-gap-x, var(--spacer-xs));
}