.navigation-flyout {
    background-color: var(--flyout-bg-color);
    box-shadow: var(--flyout-shadow);
    padding: var(--flyout-padding-y, var(--spacer-3xl)) var(--flyout-padding-x, 0);
    gap: var(--flyout-gap);
}
.navigation-flyout-teaser {
    max-width: var(--teaser-max-w, 320px);
}
.navigation-flyout-categories {
    flex: var(--nav-flex, 1 1);
    flex-direction: var(--nav-direction, row);
    gap: var(--nav-gap-y, --spacer-sm) var(--nav-gap-x, --spacer-sm);
}
.navigation-flyout-col {
    flex-direction: var(--nav-col-direction, column);
    flex: var(--nav-col-flex, 1 0%);
    padding: var(--nav-col-padding-y, 0px) var(--nav-col-padding-x, 0px);
    gap: var(--nav-col-gap, 0px);
}
