.product-image,
.product-image-placeholder {
    aspect-ratio: var(--product-image-aspect-ratio);
    object-fit: var(--product-image-object-fit);
    object-position: var(--product-image-object-position);
    background-color: var(--product-image-bg-color);
}
.product-name {
    color: var(--product-name-color, var(--body-color));
    font-size: var(--product-name-size, var(--body-font-size));
    font-weight: var(--product-name-weight, 500);
    text-decoration: var(--product-name-decoration, none);
    -webkit-line-clamp: var(--product-name-max-lines, 2);
}
.product-price {
    color: var(--product-price-color, var(--body-color));
    font-size: var(--product-price-size, var(--body-font-size));
    font-weight: var(--product-price-weight, 500);
}
.product-price-pseudo {
    color: var(--product-price-pseudo-color, var(--text-muted));
    font-size: var(--product-price-pseudo-size, var(--body-font-size));
    font-weight: var(--product-price-pseudo-weight, 500);
    text-decoration: var(--product-price-pseudo-decoration, line-through);
}
.product-review-rating {
    gap: var(--review-point-gap-y) var(--review-point-gap-y);
}
.product-buy-btn {
    max-width: var(--product-buy-btn-max-w, none);
}
.product-box-info {
    gap: var(--product-info-gap, var(--card-gap));
}
.product-box-footer {
    gap: var(--product-footer-gap, var(--spacer-xs));
}