.scroll-up-container {
    --scroll-up-offset-y: -30px;
    --scroll-up-offset-x: -30px;
    --scroll-up-opacity: 0;
    --scroll-up-scale: 0.5;
    transform: translateX(var(--scroll-up-offset-x)) translateY(var(--scroll-up-offset-y));
}
.scroll-up-button {
    opacity: var(--scroll-up-opacity);
    transform: scale(var(--scroll-up-scale));
    transition: all 200ms;

    &.is-visible {
        --scroll-up-opacity: 1;
        --scroll-up-scale: 1;
    }
}