.slider-control-button,
.base-slider-controls-prev,
.base-slider-controls-next {
    background-color: var(--slider-control-bg-color, var(--white));
    border: 1px solid var(--slider-control-border-color, var(--border-color));
    border-radius: var(--slider-control-border-radius, var(--border-radius-pill));
    padding: var(--slider-control-padding-y, var(--spacer-xs)) var(--slider-control-padding-x, var(--spacer-xs));
    box-shadow: var(--slider-control-shadow, 0px 2px 4px 0px rgba(0, 0, 0, 0.10));
    z-index: var(--slider-control-z-index, 10)
}