{# @deprecated - layout templates will be removed in v2 #}
{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_navigation %}

    {% if headerClasses is not defined %}
        {% set headerClasses = [
            'd-flex', 'container', 'align-items-center', 'gap-3', 'py-4', 'header-row'
        ] %}
    {% endif %}

    <div class="{{headerClasses|join(' ')}}">

        {% block shogun_layout_header_inner %}

            {% block layout_header_logo %}
                <div class="col-auto header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {% block layout_header_search %}
                <div class="col header-search-col">
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                </div>
            {% endblock %}

            {% block layout_header_actions %}
                {% sw_include '@Storefront/shogun/component/header/actions.html.twig' %}
            {% endblock %}

        {% endblock %}

    </div>
{% endblock %}