/** cart heading **/
.cart-heading-title {
    @extend .fw-semibold;
    font-size: var(--font-size, 20px);
}
.cart-heading-products {
    --badge-font-size: 14px;
    --badge-font-weight: 400;
}

/** cart summary **/
.cart-summary-list {
    @extend .d-flex, .flex-column, .flex-wrap, .gap-2;
}
.cart-summary-item {
    @extend .d-flex, .flex-row, .flex-wrap, .justify-content-between, .align-items-baseline, .m-0, .gap-2, .fw-semibold;
}
.cart-summary-item-value {
    @extend .m-0;
}

/** cart offcanvas **/
.offcanvas-cart {
    @extend .d-flex, .flex-column, .gap-3;
}
.offcanvas-cart-actions {
    @extend .d-flex, .flex-column, .gap-3;
}

/** shipping costs calculation **/
.shipping-calculation-form {
    @extend .d-flex, .flex-column, .gap-3;
}
.shipping-calculation-selects {
    @extend .d-flex, .flex-column, .gap-3;
}
.shipping-calculation-toogle-btn {
    @extend .w-100;

    .sh-icon {
        transition: all 200ms;
    }

    &[aria-expanded="true"] {

        .sh-icon {
            transform: rotate(180deg);
        }
    }
}