.checkout-progress {
    @extend .d-flex, .flex-wrap, .flex-row;
}
.checkout-progress-item {
    @extend .d-flex, .flex-column, .flex-wrap;
    flex: 1 0%;
    gap: var(--checkout-progress-item-gap, var(--spacer-xs));
}
.checkout-progress-bar {
    @extend .d-flex, .align-items-center;
    position: relative;
    gap: var(--checkout-progress-bar-gap, 0px);

    &:before,
    &:after {
        @extend .d-block;
        flex: 1 0%;
        content: '';
        background-color: var(--checkout-progress-item-color, var(--gray-300));
        height: var(--checkout-progress-bar-height, 3px);
    }
}

.checkout-progress-icon {
    @extend .d-flex, .rounded-pill;
    flex: 0 auto;
    background-color: var(--checkout-progress-item-color, var(--gray-300));
    color: var(--checkout-progress-icon-color, inherit);
    padding: var(--checkout-progress-icon-padding, var(--spacer-xs));
    line-height: 1;
}
.checkout-progress-label {
    @extend .text-center;
    font-size: var(--checkout-progress-font-size, 14px);
}