.product-detail-configurator-group {
    margin-bottom: var(--spacer-md);
}

.product-detail-configurator-group-title {
    font-weight: 600;
    margin-bottom: var(--spacer-sm);
}

.product-detail-configurator-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-detail-configurator-option {
    display: inline-flex;
    margin-right: var(--spacer-sm);
}

.product-detail-configurator-option-input {
    display: none;

    + .product-detail-configurator-option-label {
        align-items: center;
        cursor: pointer;
        border: 1px solid $dark;
        border-radius: var(--border-radius);
        box-shadow: inset 3px 3px 0 var(--white), inset -3px -3px 0 var(--white);
        background-color: var(--white);
        display: inline-flex;
        justify-content: center;
        height: 60px;
        min-width: 60px;
        opacity: 0.35;
        padding: 3px;
        margin-bottom: var(--spacer-sm);
        transition: border-color 0.45s cubic-bezier(0.3, 0, 0.15, 1), background-color 0.45s cubic-bezier(0.3, 0, 0.15, 1);

        &.is-display-text {
            box-shadow: none;
            height: auto;
            padding: 5px 10px;
        }
    }

    &.is-combinable + .product-detail-configurator-option-label {
        opacity: 1;
        border: 1px solid var(--border-color);
    }

    &:checked + .product-detail-configurator-option-label {
        border: 1px solid var(--primary);

        &.is-display-text {
            background-color: var(--primary);
            color: var(--white);
        }
    }

    &.is-combinable + .product-detail-configurator-option-label,
    + .product-detail-configurator-option-label {
        &:hover,
        &:active,
        &:focus {
            border: 1px solid var(--primary);
        }
    }
}

.product-detail-configurator-option-image {
    height: 100%;
}