.gallery-slider {
    @extend .d-grid;
    
    @include media-breakpoint-up( md ) {
        --gallery-slider-columns: var(--gallery-slider-thumbnail-w) minmax(0, 1fr);
    }
}
.gallery-slider-canvas {
    @extend .order-2;
    max-width: 100%;

    .slider-control-button {
        @extend .position-absolute, .translate-middle;

        &:disabled {
            opacity: 0;
            visibility: hidden;
        }

        &.control-prev {
            @extend .top-50, .start-0;
        }

        &.control-next {
            @extend .top-50, .start-100;
        }
    }
}
.gallery-slider-canvas-image {
    @extend .img-fluid;
    display: block;
    width: 100%;
}
.gallery-slider-thumbnails-container {
    @extend .d-none, .d-md-block;
}
.gallery-slider-thumbnails {
    height: 100%;

    .splide__track {
        height: 100% !important;
    }
}
.gallery-slider-thumbnail-image {
    @extend .d-block, .img-fluid;
}