/** header actions **/
.header-actions-btn {
    @extend .position-relative;
    --btn-padding-y: var(--spacer-2xs);
    --btn-padding-x: var(--spacer-2xs);

    @include media-breakpoint-up( lg ) {
        /** @todo turn into css var **/
        --btn-icon-size: 24px;
    }
}
.header-actions-col {
    @extend .ms-auto, .d-flex, .justify-content-end, .align-items-center, .gap-2, .gap-lg-3;
}
.header-action-badge {
    --badge-padding-y: var(--spacer-2xs);
    --badge-padding-x: var(--spacer-xs);
    /** @todo turn into css var **/
    --badge-font-size: 12px;
}

/** header search **/
.header-search {
    flex: 1 1 100%;
}
.header-search-collapse {
    position: absolute;
    inset: 0;
    height: auto !important;
    overflow: visible !important;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    background-color: var(--header-seach-collapse-bg-color);
    transition: all 200ms;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    @include media-breakpoint-up( lg ) {
        display: contents !important;
        opacity: 1;
        visibility: visible;
    }
}
.header-search-input {
    border-radius: var(--header-search-border-radius) !important;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { display: none; }
}
.header-search-btn {
    @extend .position-absolute;
    inset: 0;
    left: auto;
    z-index: 10 !important;
}
.header-search-input-group {
    flex: 1 0%;
}
.header-search-close {
    @extend .d-lg-none;
}