.line-item {
    @extend .d-flex, .flex-column, .flex-wrap, .gap-3;
}
.line-item-main {
    @extend .d-flex, .flex-row, .flex-wrap, .gap-3;
}
.line-item-header {
    @extend .d-flex, .flex-row, .flex-wrap, .gap-2;

    .line-item-promotion & {
        flex: 1 0%;
    }
}
.line-item-name {
    flex: 1;
}
.line-item-label {
    @extend .fw-semibold;
}
.line-item-actions {
    @extend .d-flex, .flex-row, .flex-wrap, .gap-2;
    flex: 0 auto;
}
.line-item-action {
    --btn-padding-x: 4px;
    --btn-padding-y: 4px;
}
.line-item-image-container {
    flex: 0 var(--line-item-image-width, 64px);
}
.line-item-content {
    @extend .d-flex, .flex-column, .flex-wrap, .gap-2;
    flex: 1;

    .line-item-promotion & {
        @extend .flex-row, .justify-content-between, .align-items-center;
    }
}
.line-item-footer {
    @extend .py-2;
}
.line-item-total-pricing {
    @extend .d-flex, .flex-row, .flex-wrap, .justify-content-end, .align-items-center, .gap-4;
}
.line-item-quantity {
    @extend .d-flex, .flex-row, .flex-wrap, .justify-content-end;
}