/** order item header **/
.order-item-header {
    @extend .d-flex, .flex-wrap, .flex-column, .flex-sm-row, .gap-2;
}
.order-item-header-title-container {
    @extend .d-flex, .flex-wrap, .flex-row, .align-items-center;

    @include media-breakpoint-up( sm ) {
        flex: 1 0%;
    }
}
.order-item-status-badge-open {
    @extend .bg-info;
}
.order-item-header-title {
    // @extend .fs-5, .fw-semibold !optional;
    flex: 1 0%;

    @include media-breakpoint-up( sm ) {
        flex: 0 auto;
    }
}
.order-table-header-order-number {
    flex: 1 100%;
}

/** order item header summary **/
.order-item-header-summary {
    @extend .d-flex, .flex-row, .flex-wrap, .gap-3;
}

/** order item context menu **/
.order-item-context-menu-link {
    @extend .d-flex, .flex-row, .flex-row, .align-items-center, .gap-2;
}