.buy-form {
    @extend .d-flex, .flex-row, .flex-wrap, .gap-3;

    .quantity-input {
        flex: 0 auto;
    }

    .btn-buy {
        white-space: nowrap;
        flex: 1 0%;
    }
}
.product-wishlist-action {

    .wishlist-icon {
        @extend .sh-icon, .icon-heart;
        font-size: var(--btn-icon-size);
    }
    
    &.product-wishlist-added {

        .wishlist-icon {
            @extend .icon-heart-fill;
        }
    }
}
.product-image-placeholder {
    @extend .img-fluid, .w-100, .d-flex, .align-items-center, .justify-content-center;

    > * {
        display: contents;
    }

    svg {
        @extend .w-100;
        height: auto;
    }
}