.product-box-info {
    @extend .d-flex, .flex-column;
}
.product-box {

    .product-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .product-badges {
        @extend .position-absolute, .d-flex, .flex-row, .flex-wrap, .align-items-center, .w-100;
        gap: var(--badges-gap, var(--spacer-xs));
        padding: var(--badges-padding-y, var(--spacer-xs)) var(--badges-padding-x, var(--spacer-xs));
    }

    .product-wishlist-remove {
        @extend .position-absolute;
    }
}
.product-image-wrapper {
    @extend .position-relative;
}