{% set icon = icon|default('user') %}
{% set showLabel = showLabel|default(false) %}

{% set classes = sh_define_classes({
    button: ['btn', 'account-action-btn'],
    icon: ['position-relative', 'd-flex', 'justify-content-center', 'align-items-center'],
    label: [],
    accountDropdown: {}
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_account_action %}
    <div class="dropdown">

        {% block shogun_component_account_action_button %}
            <button 
                class="{{ classes.button|join(' ') }}"
                type="button"
                id="accountWidget"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="{{ 'account.myAccount'|trans|striptags }}"
                title="{{ 'account.myAccount'|trans|striptags }}">
                
                {% block shogun_component_account_action_button_icon %}
                    <span class="{{ classes.icon|join(' ') }}">
                        {% block shogun_component_account_action_button_icon_element %}
                            {{sh_icon(icon)}}
                        {% endblock %}
                    </span>
                {% endblock %}

                {% block shogun_component_account_action_label %}
                    {% if showLabel %}
                        <span class="{{ classes.label|join(' ') }}">
                            {{ 'account.myAccount'|trans|striptags }}
                        </span>
                    {% endif %}
                {% endblock %} 
            </button>
        {% endblock %}

        {% block shogun_component_account_action_dropdown %}
            {% sw_include '@Storefront/shogun/component/account/dropdown.html.twig' with {
                classes: classes.accountDropdown
            } %}
        {% endblock %}
    </div>
{% endblock %}