{% set classes = sh_define_classes({
    container: ['dropdown-menu', 'dropdown-menu-end', 'account-dropdown'],
    register: ['d-grid', 'p-3'],
    registerBtn: ['btn', 'btn-primary'],
    loginForm: {}
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_account_dropdown %}
    <div class="{{classes.container|join(' ')}}">
        {% if context.customer %}
            {% block shogun_component_account_dropdown_user_actions %}
                {% sw_include '@Storefront/shogun/component/account/user-actions.html.twig' with {
                    activeRoute: activeRoute,
                } %}
            {% endblock %}
        {% else %}
            {% block shogun_component_account_dropdown_login_form %}
                {% sw_include '@Storefront/shogun/component/account/login-form.html.twig' with {
                    classes: classes.loginForm,
                } %}
            {% endblock %}
            {% block shogun_component_account_dropdown_register_divider %}
                <div class="divider">
                    {% block shogun_component_account_dropdown_register_divider_label %}
                        <div class="divider-label">
                            {{ 'account.newCustomerLabel'|trans|sw_sanitize }}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            {% block shogun_component_account_dropdown_register %}
                <div class="{{classes.register|join(' ')}}">
                    {% block shogun_component_account_dropdown_register_action %}
                        <a href="{{ path('frontend.account.login.page') }}"
                            title="{{ 'account.orRegisterLink'|trans|striptags }}"
                            class="{{classes.registerBtn|join(' ')}}">
                            {{ 'account.orRegisterLink'|trans|sw_sanitize }}
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}