{# @template-origin: storefront/component/account/login.html.twig #}

{% set classes = sh_define_classes({
	alert: {},
	form: ['login-form',],
	username: ['login-form-username'],
	password: ['login-form-password'],
	actions: ['login-form-actions',],
	loginBtn: ['btn', 'btn-login-action'],
	passwordRecoveryBtn: ['btn','btn-password-recovery-action'],
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_account_login_form %}
	<form action="{{ path('frontend.account.login') }}"
		method="post"
		data-form-validation="true"
		class="{{classes.form|join(' ')}}">

		{% block shogun_component_account_login_form_parameter %}
			<input type="hidden"
					name="redirectTo"
					value="{{ redirectTo }}">

			<input type="hidden"
					name="redirectParameters"
					value="{{ redirectParameters }}">
		{% endblock %}

		{% block shogun_component_account_login_form_error %}
			{% set alertType = 'danger' %}
			{% set alertMessage = 'account.loginBadCredentials'|trans|sw_sanitize %}
			
			{% if errorSnippet != null %}
				{% set alertMessage = errorSnippet|trans|sw_sanitize %}
			{% elseif waitTime != null %}
				{% set alertType = 'info' %}
				{% set alertMessage = 'account.loginThrottled'|trans({'%seconds%': waitTime})|sw_sanitize %}		
			{% endif %}

			{% if loginError %}
				{% sw_include '@Storefront/shogun/component/alert.html.twig' with {
					type: alertType,
					content: alertMessage,
					classes: classes.alert
				} %}
			{% endif %}
		{% endblock %}

		{% block shogun_component_account_login_form_username %}
			<div class="{% if classes.username %}{{classes.username|join(' ')}}{% endif %}">

				{% block shogun_component_account_login_form_username_label %}
					<label class="form-label" for="LoginInputEmail">
						{{ 'account.loginMailLabel'|trans|sw_sanitize }}
					</label>
				{% endblock %}

				{% block shogun_component_account_login_form_username_input %}
					<input type="email" 
						name="username"
						id="LoginInputEmail" 
						autocomplete="username webauthn"
						required="required"
						class="form-control{% if loginError %} is-invalid{% endif %}" 
						placeholder="{{ 'account.loginMailPlaceholder'|trans|striptags }}">
				{% endblock %}
			</div>
		{% endblock %}

		{% block shogun_component_account_login_form_password %}
			<div class="{% if classes.password %}{{classes.password|join(' ')}}{% endif %}">

				{% block shogun_component_account_login_form_password_label %}
					<label class="form-label" for="LoginInputPassword">
						{{ 'account.loginPasswordLabel'|trans|sw_sanitize }}
					</label>
				{% endblock %}

				{% block shogun_component_account_login_form_password_input %}
					<input type="password" 
						name="password"
						id="LoginInputPassword" 
						autocomplete="current-password"
						required="required"
						class="form-control{% if loginError %} is-invalid{% endif %}" 
						placeholder="{{ 'account.loginPasswordPlaceholder'|trans|striptags }}">
				{% endblock %}
			</div>
		{% endblock %}

		{% block shogun_component_account_login_form_actions %}
			<div class="{% if classes.actions %}{{classes.actions|join(' ')}}{% endif %}">

				{% block shogun_component_account_login_form_submit_button %}
					<button type="submit" 
						class="{{classes.loginBtn|join(' ')}}">
						{{ 'account.loginSubmit'|trans|sw_sanitize }}
					</button>
				{% endblock %}

				{% block shogun_component_account_login_form_password_recovery %}
					<a href="{{ seoUrl('frontend.account.recover.page') }}"
						class="{{classes.passwordRecoveryBtn|join(' ')}}">
						{{ 'account.loginPasswordRecover'|trans|sw_sanitize }}
					</a>
				{% endblock %}
			</div>
		{% endblock %}
	</form>
{% endblock %}