{% if editable is not defined %}
    {% set editable = false %}
{% endif %}

{% block shogun_component_account_card_personal %}
    <div class="card account-card-personal">
        <div class="card-body">
            {% block shogun_component_account_card_personal_title %}
                <h4 class="card-title">
                    {{ 'account.overviewProfileHeader'|trans|sw_sanitize }}
                </h4>
            {% endblock %}

            {% block page_account_overview_profile_content %}
                <div>
                    {% if context.customer.salutation and context.customer.salutation.salutationKey != 'not_specified' %}
                        {{ context.customer.salutation.translated.displayName }}
                    {% endif %}
                    {% if context.customer.title %}
                        {{ context.customer.title }}<br>
                    {% endif %}
                    {{ context.customer.firstName }} {{ context.customer.lastName }}
                </div>
            {% endblock %}

            {% block page_account_overview_profile_company %}
                {#% sw_include '@Storefront/storefront/component/account/customer-overview-personal-company.html.twig' with {
                    customer: context.customer,
                } %#}
            {% endblock %}

            {% block page_account_overview_profile_email %}
                <div>
                    {{ context.customer.email }}
                </div>
            {% endblock %}

            {% block page_account_overview_profile_actions %}
                <div class="card-actions">
                    {% block page_account_overview_profile_actions_content %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}