{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% block component_account_register %}
    {% set cardHeaderTag = cardHeaderTag|default('div') %}

    {% set classes = sh_define_classes({
        card: ['card', 'register-card'],
        cardHeader: ['card-header', 'register-card-header'],
        cardBody: ['card-body', 'login-card-body'],
        form: ['register-form'],
        personal: ['card-body', 'register-personal'],
        personalAddress: {},
        guest: ['register-guest'],
        address: {
            container: ['register-address'],
            billing: {
                container: ['register-billing'],
                title: [],
                form: {
                    fields: {
                        countryState: {
                            wrapper: ['d-none']
                        },
                    },
                },
            },
        },
    }, classes|default({}), replaceClasses|default(false)) %}

    <div class="{{classes.card|join(' ')}}">
        {% block component_account_register_header %}
            {% if cardTitle %}
                <{{cardHeaderTag}} class="{{classes.cardHeader|join(' ')}}">
                    {{ cardTitle }}
                </{{cardHeaderTag}}>
            {% endif %}
        {% endblock %}

        {% block component_account_register_form %}
            <form action="{{ path('frontend.account.register.save') }}"
                    class="{{classes.form|join(' ')}}"
                    method="post"
                    data-form-submit-loader="true"
                    data-form-validation="true">

                {% block component_account_register_redirect %}
                    {{ parent() }}
                {% endblock %}

                {% block component_account_register_create_account %}
                    {{ parent() }}
                {% endblock %}

                {% block component_account_register_form_action %}
                    {{ parent() }}
                {% endblock %}

                {% block component_account_register_personal %}
                    <div class="{{classes.personal|join(' ')}}">
                        {% block component_account_register_personal_fields %}
                            {% block component_account_register_personal_address_fields %}
                                {% if feature('v6.7.0.0') %}
                                    {% set prefix = 'billingAddress' %}
                                {% endif %}

                                {% sw_include '@Storefront/shogun/component/address/address-personal.html.twig' with {
                                    prefix: prefix,
                                    showBirthdayField: config('core.loginRegistration.showBirthdayField'),
                                    accountType: data.get('accountType'),
                                    classes: classes.personalAddress
                                } %}
                            {% endblock %}

                            {% block component_account_register_company_fields %}
                                {% sw_include '@Storefront/shogun/component/address/address-personal-company.html.twig' with {
                                    prefix: 'billingAddress',
                                    address: data.get('billingAddress')
                                } %}
                            {% endblock %}

                            {% set formGroupMail %}
                                {% block component_account_register_personal_mail %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endset %}

                            {% set formGroupMailConfirmation %}
                                {% block component_account_register_personal_mail_confirmation %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endset %}

                            {% set formGroupPassword %}
                                {% block component_account_register_personal_password %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endset %}

                            {% set formGroupPasswordConfirmation %}
                                {% block component_account_register_personal_password_confirmation %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endset %}

                            {% block component_account_register_guest_mode_fields %}
                                {% if guestMode.active is same as(true) %}
                                    <div class="{{classes.guest|join(' ')}}">
                                        <div class="form-check register-guest-control py-2 fw-semibold">
                                            {% block page_checkout_register_personal_guest_input %}
                                            <input type="checkbox"
                                                class="form-check-input"
                                                name="createCustomerAccount"
                                                {% if guestMode.default is same as(true) %}
                                                    checked
                                                {% endif %}
                                                value="true"
                                                id="personalGuest"
                                                {% if config('core.loginRegistration.createCustomerAccountDefault') == 1 %}checked="checked"{% endif %}
                                                data-form-field-toggle="true"
                                                data-form-field-toggle-target=".js-form-field-toggle-guest-mode"
                                                data-form-field-toggle-value="true">
                                            {% endblock %}

                                            {% block page_checkout_register_personal_guest_label %}
                                                <label class="custom-control-label"
                                                    for="personalGuest">
                                                {{ 'checkout.registerCustomermodeLabel'|trans|sw_sanitize }}
                                                </label>
                                            {% endblock %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}

                            {% block component_account_register_personal_account_fields %}
                                <div class="row gap-3">
                                    <div class="g-col-12 g-col-lg-6 form-group field-user-email">
                                        {{ formGroupMail }}
                                    </div>
                                    {% if config('core.loginRegistration.requireEmailConfirmation') %}
                                        <div class="g-col-12 g-col-lg-6 form-group field-user-email-confirmation">
                                            {{ formGroupMailConfirmation }}
                                        </div>
                                    {% endif %}
                                    <div class="g-col-12 g-col-lg-6 form-group field-user-password">
                                        {{ formGroupPassword }}
                                    </div>
                                    {% if config('core.loginRegistration.requirePasswordConfirmation') %}
                                        <div class="g-col-12 g-col-lg-6 form-group field-user-password-confirmation">
                                            {{ formGroupPasswordConfirmation }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block component_account_register_address %}
                    <div class="{{classes.address.container|join(' ')}}">

                        {% block component_account_register_address_fields %}

                            {% block component_account_register_address_billing %}
                                <div class="{{classes.address.billing.container|join(' ')}}">

                                    {% block component_account_register_address_billing_header %}
                                        <div class="{{classes.address.billing.title|join(' ')}}">
                                            {{ 'account.registerAddressBillingHeader'|trans|sw_sanitize }}
                                        </div>
                                    {% endblock %}

                                    {% block component_account_register_address_billing_fields %}
 
                                        {% sw_include '@Storefront/shogun/component/address/address-form.html.twig' with {
                                            prefix: 'billingAddress',
                                            data: data.get('billingAddress'),
                                            showNoShippingPostfix: true,
                                            classes: classes.address.billing.form
                                        } %}
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block component_account_register_address_different_shipping %}
                                <div class="register-shipping card-body d-flex flex-column gap-3 border-bottom">
                                    {% block component_account_register_address_different_shipping_control %}
                                        <div class="form-check register-different-shipping fw-semibold">
                                            {% block component_account_register_address_different_shipping_input %}
                                                {{ parent() }}
                                            {% endblock %}

                                            {% block component_account_register_address_different_shipping_label %}
                                                {{ parent() }}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {% block component_account_register_address_shipping %}
                                        <div class="js-form-field-toggle-shipping-address d-none">
                                            {% block component_account_register_address_shipping_header %}
                                                <h5 class="card-title">
                                                    {{ 'account.registerAddressShippingHeader'|trans|sw_sanitize }}
                                                </h5>
                                            {% endblock %}

                                            {% block component_account_register_address_shipping_fields %}

                                                    {% block component_account_register_address_shipping_fields_personal %}
                                                        {% sw_include '@Storefront/shogun/component/address/address-personal.html.twig' with {
                                                            prefix: 'shippingAddress',
                                                            data: data.get('shippingAddress'),
                                                            hideCustomerTypeSelect: false,
                                                            customToggleTarget: true,
                                                            accountType: data.get('shippingAddress').get('accountType'),
                                                            classes: classes.personalAddress
                                                        } %}
                                                    {% endblock %}

                                                    {% block component_account_register_address_shipping_fields_company %}
                                                        {% sw_include '@Storefront/shogun/component/address/address-personal-company.html.twig' with {
                                                            prefix: 'shippingAddress',
                                                            customToggleTarget: true,
                                                            address: data.get('shippingAddress')
                                                        } %}
                                                    {% endblock %}

                                                    {% block component_account_register_address_shipping_fields_address %}
                                                        {% sw_include '@Storefront/shogun/component/address/address-form.html.twig' with {
                                                            prefix: 'shippingAddress',
                                                            data: data.get('shippingAddress'),
                                                            showNoShippingPostfix: true,
                                                            disableNonShippableCountries: true,
                                                            classes: classes.address.billing.form
                                                        } %}
                                                    {% endblock %}

                                            {% endblock %}

                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block component_account_register_captcha %}
                    {{ parent() }}
                {% endblock %}

                <div class="card-body">
                    {% block component_account_register_privacy %}
                        {% sw_include '@Storefront/storefront/component/privacy-notice.html.twig' %}
                    {% endblock %}
                </div>

                {% block component_account_register_footer %}
                    <div class="register-submit card-footer d-flex flex-row flex-wrap align-items-center justify-content-end">
                        {% block component_account_register_required_fields %}
                            <div class="form-text register-required-info">
                                {{ 'general.requiredFields'|trans|sw_sanitize }}
                            </div>
                        {% endblock %}

                        {% block component_account_register_submit %}
                            <button type="submit"
                                    class="btn btn-primary btn-lg">
                                {{ 'account.registerSubmit'|trans|sw_sanitize }}
                            </button>
                        {% endblock %}
                    </div>
                {% endblock %}
            </form>
        {% endblock %}

    </div>
{% endblock %}