{% set classesItem = ['nav-item', 'user-action-item'] %}
{% set classes = sh_define_classes({
    nav: ['nav', 'user-actions'],
    item: classesItem,
    itemLogout: classesItem|merge(['user-action-logout']),
    link: ['nav-link', 'user-action-link'],
}, classes|default({}), replaceClasses|default(false)) %}

{% if userActions is not defined %}
    {% set userActions = {
        home: {
            route: 'frontend.account.home.page',
            label: 'account.overviewLink'|trans|striptags,
            icon: 'squares-four'
        },
        profile: {
            route: 'frontend.account.profile.page',
            label: 'account.profileLink'|trans|sw_sanitize,
            icon: 'pencil-simple-line'
        },
        address: {
            route: 'frontend.account.address.page',
            label: 'account.addressLink'|trans|sw_sanitize,
            icon: 'address-book'
        },
        payment: {
            route: 'frontend.account.payment.page',
            label: 'account.paymentLink'|trans|sw_sanitize,
            icon: 'credit-card'
        },
        orders: {
            route: 'frontend.account.order.page',
            label: 'account.ordersLink'|trans|sw_sanitize,
            icon: 'package'
        }
    } %}
{% endif %}

{% block shogun_component_account_user_actions %}
    {% if userActions is not empty %}  
        <ul class="{{classes.nav|join(' ')}}">

            {% for action in userActions %}
                {% block shogun_component_account_user_action_item %}
                    <li class="{{classes.item|join(' ')}}">

                        {% block shogun_component_account_user_action_link %}

                            {% if activeRoute is same as(action.route) %}
                                {% set classes = classes|sh_merge_deep({
                                    link: ['active']
                                }) %}
                            {% endif %}

                            <a href="{{path(action.route)}}"
                                class="{{classes.link|join(' ')}}" 
                                title="{{action.label}}"
                                aria-current="page">

                                {% block shogun_component_account_user_action_link_icon %}
                                    {% if action.icon is defined %}
                                        {{sh_icon(action.icon)}}
                                    {% endif %}
                                {% endblock %}

                                {% block shogun_component_account_user_action_link_label %}
                                    {{action.label}}
                                {% endblock %}
                            </a>
                        {% endblock %}
                    </li>
                {% endblock %}
            {% endfor %}

            {% block shogun_component_account_user_action_item_logout %}
                <li class="{{classes.itemLogout|join(' ')}}">

                    {% block shogun_component_account_user_action_logout_link %}
                        <a href="{{ path('frontend.account.logout.page') }}"
                            class="{{classes.link|join(' ')}}" 
                            title="{{ 'account.logout'|trans|sw_sanitize }}"
                            aria-current="page">

                            {% block shogun_component_account_user_action_logout_link_icon %}
                            {% endblock %}

                            {% block shogun_component_account_user_action_logout_link_label %}
                                {{ 'account.logout'|trans|sw_sanitize }}
                            {% endblock %}
                        </a>
                    {% endblock %}
                </li>
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}