{% sw_extends '@Storefront/storefront/element/cms-element-wishlist-listing.html.twig' %}

{% deprecated 'The override of detault cms-elements will be removed in future releases. More informations in issue #8' %}

{% block element_wishlist_listing_wrapper %}
    {% sw_include '@Storefront/shogun/component/wishlist/listing.html.twig' with {
        searchResult: searchResult,
        dataUrl: dataUrl,
        filterUrl: filterUrl,
        disableEmptyFilter: false,
        params: params,
        sidebar: sidebar,
        boxLayout: boxLayout,
        displayMode: displayMode,
        listingColumns: listingColumns
    } %}
{% endblock %}