{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% deprecated 'The override of detault cms-elements will be removed in future releases. More informations in issue #8' %}

{% block element_product_description_reviews %}
    {% set config = element.fieldConfig.elements %}
    {% set product = element.data.product %}
    {% set descriptionTabId = "description-tab-" ~ product.id %}
    {% set descriptionTabHref = "#description-tab-" ~ product.id ~ "-pane" %}
    {% set descriptionTabContent = "description-tab-" ~ product.id ~ "-pane" %}
    {% set propertiesTabId = "properties-tab-" ~ product.id %}
    {% set propertiesTabHref = "#properties-tab-" ~ product.id ~ "-pane" %}
    {% set propertiesTabContent = "properties-tab-" ~ product.id ~ "-pane" %}
    {% set reviewTabId = "review-tab-" ~ product.id %}
    {% set reviewTabHref = "#review-tab-" ~ product.id ~ "-pane" %}
    {% set reviewTabContent = "review-tab-" ~ product.id ~ "-pane" %}

    {% if element.data.product %}
        <div class="product-detail-tabs cms-element-{{ element.type }}{% if config.alignment.value %} has-vertical-alignment{% endif %}">

            {% block element_product_description_reviews_tabs_navigation %}

                {% block element_product_description_reviews_tabs_navigation_container %}
                    <ul class="nav nav-tabs product-detail-tab-navigation-list"
                        id="product-detail-tabs"
                        role="tablist">

                        {% block element_product_description_reviews_tabs_navigation_description %}
                            <li class="nav-item">
                                <a class="nav-link {% if (ratingSuccess != 1) and (ratingSuccess != -1) %}active{% endif %} product-detail-tab-navigation-link description-tab"
                                    id="{{ descriptionTabId }}"
                                    href="{{ descriptionTabHref }}"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    aria-controls="{{ descriptionTabContent }}"
                                    aria-selected="true">
                                    {{ "detail.tabsDescription"|trans|sw_sanitize }}
                                </a>
                            </li>
                        {% endblock %}

                        {% block element_product_description_reviews_tabs_navigation_properties %}
                            {% if product.sortedProperties|length > 0 %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                        id="{{ propertiesTabId }}"
                                        href="{{ propertiesTabHref }}"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        aria-controls="{{ propertiesTabContent }}"
                                        aria-selected="true">
                                        {{ "detail.tabsProperties"|trans|sw_sanitize }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}

                        {% block element_product_description_reviews_tabs_navigation_review %}
                            {% if config('core.listing.showReview') %}
                                <li class="nav-item">
                                    <a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link review-tab"
                                        id="{{ reviewTabId }}"
                                        data-bs-toggle="tab"
                                        data-off-canvas-tabs="true"
                                        href="{{ reviewTabHref }}"
                                        role="tab"
                                        aria-controls="{{ reviewTabContent }}"
                                        aria-selected="true">
                                        {{ "detail.tabsReview"|trans|sw_sanitize }}
                                        {% if element.data.reviews.totalReviews > 0 %}
                                            ({{element.data.reviews.totalReviews}})
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            {% endblock %}

            {% block element_product_description_reviews_tabs_content %}

                {% block element_product_description_reviews_tabs_content_container %}
                    <div class="tab-content">

                        {% block element_product_description_reviews_tabs_content_description %}
                            <div class="tab-pane fade show {% if (element.data.ratingSuccess != 1) and (element.data.ratingSuccess != -1) %}active{% endif %}"
                                id="{{ descriptionTabContent }}"
                                role="tabpanel"
                                aria-labelledby="{{ descriptionTabId }}">
                                {% block shogun_element_product_tabs_description_include %}
                                    {% sw_include '@Storefront/shogun/component/product/description.html.twig' with {
                                        description: product.translated.description
                                    } %}
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block element_product_description_reviews_tabs_content_properties %}
                            <div class="tab-pane fade show"
                                id="{{ propertiesTabContent }}"
                                role="tabpanel"
                                aria-labelledby="{{ propertiesTabId }}">
                                {% block shogun_element_product_tabs_properties_include %}
                                    {% sw_include '@Storefront/storefront/component/product/properties.html.twig' %}
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block element_product_description_reviews_tabs_content_review %}
                            {% if config('core.listing.showReview') %}
                                <div class="tab-pane fade show"
                                        id="{{ reviewTabContent }}"
                                        role="tabpanel"
                                        aria-labelledby="{{ reviewTabId }}">
                                    {% block shogun_element_product_tabs_reviews_include %}
                                        {% sw_include '@Storefront/shogun/component/review/detail.html.twig' with {
                                            reviews: element.data.reviews,
                                            product: element.data.product
                                        } %}
                                    {% endblock %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}

            {% endblock %}
        </div>
    {% endif %}
{% endblock %}