{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% deprecated 'The override of detault cms-elements will be removed in future releases. More informations in issue #8' %}

{% block element_image_gallery_inner %}
    {% sw_include '@Storefront/shogun/component/gallery-slider/base.html.twig' 
        with {
            medias: mediaItems
        } only
    %}
{% endblock %}