{% sw_extends '@Storefront/storefront/element/cms-element-product-listing.html.twig' %}

{% deprecated 'The override of detault cms-elements will be removed in future releases. More informations in issue #8' %}

{% block element_product_listing_wrapper %}
    {% sw_include '@Storefront/shogun/component/product/listing.html.twig' with {
        searchResult: searchResult,
        dataUrl: dataUrl,
        filterUrl: filterUrl,
        params: params,
        sidebar: sidebar,
        boxLayout: element.translated.config.boxLayout.value,
        displayMode: element.translated.config.displayMode.value,
        listingColumns: listingColumns
    } %}
{% endblock %}