$prefix: '';
$enable-cssgrid: true;
$enable-shogun-spacers: false !default;

$sh-spacers: (
    '2xs': 4px,
    'xs': 8px,
    'sm': 12px,
    'md': 16px,
    'lg': 20px,
    'xl': 24px,
    '2xl': 32px,
    '3xl': 40px,
    '4xl': 64px,
    '5xl': 80px,
) !default;

$sh-font-sizes: (
    'xs': 12px,
    'sm': 14px,
    'md': 16px,
    'lg': 20px,
    'xl': 24px,
    '2xl': 32px,
    '3xl': 40px,
    '4xl': 48px,
    '5xl': 64px,
) !default;

@import 'utilities/spacer';