{% sw_extends '@Storefront/storefront/page/search/search-pagelet.html.twig' %}

{% block element_product_listing_wrapper %}
    {% sw_include '@Storefront/shogun/element/cms-element-sidebar-filter.html.twig' with {
        listing: page.listing,
        sidebar: false
    } %}

    {% sw_include '@Storefront/shogun/component/product/listing.html.twig' with {
        searchResult: page.listing,
        dataUrl: path('widgets.search.pagelet.v2'),
        filterUrl: path('widgets.search.filter'),
        params: { search: page.searchTerm },
        sidebar: 0
    } %}
{% endblock %}