{% set defaultClasses = {
    item: ['search-suggest-item'],
    imageContainer: ['col-auto', 'search-suggest-item-image-container'],
    image: ['search-suggest-product-image', 'w-100', 'd-block'],
    content: ['col', 'search-suggest-content'],
    productName: ['search-suggest-product-name', 'col'],
    productPricing: {
        container: ['search-suggest-product-pricing', 'col-auto'],
        price: ['search-suggest-product-price'],
        referencePrice: ['search-suggest-product-reference-price'],
        listPrice: ['search-suggest-product-list-price']
    }
} %}

{% if classes is defined %}
    {% set classes = classes|sh_merge_deep(defaultClasses) %}
{% else %}
    {% set classes = defaultClasses %}
{% endif %}

{% set price = product.calculatedPrice %}

{% if product.calculatedPrices.count > 0 %}
    {% set price = product.calculatedPrices.last %}
{% endif %}

{% if product.variantListingConfig.displayParent and product.parentId === null %}
    {% set displayFromVariants = price.unitPrice !== product.calculatedCheapestPrice.unitPrice %}
    {% set price = product.calculatedCheapestPrice %}
{% endif %}

{% set referencePrice = price.referencePrice %}

{% block shogun_component_search_suggest_item %}
    <a href="{{ seoUrl('frontend.detail.page', {productId: product.id}) }}"
        title="{{ product.translated.name }}"
        class="{{ classes.item|join(' ') }}">

        {% block shogun_component_search_suggest_item_image %}
            <div class="{{ classes.imageContainer|join(' ') }}">
                {% set attributes = {
                    class: classes.image|join(' '),
                    title: (product.cover.media.translated.title ?: '')
                } %}

                {% if product.cover.media.url and product.cover.media.isSpatialObject() == false %}
                    {% if product.cover.media.getMediaType().getName() === 'VIDEO' %}
                        {% sw_include '@Storefront/storefront/utilities/video.html.twig' with {
                            media: product.cover.media,
                            attributes: attributes
                        } %}
                    {% else %}
                        {% set attributes = attributes|merge({
                            alt: (product.cover.media.translated.alt ?: '')
                        }) %}

                        {% sw_thumbnails 'search-suggest-product-image-thumbnails' with {
                            media: product.cover.media,
                            sizes: {
                                default: '100px'
                            },
                            attributes: attributes
                        } %}
                    {% endif %}
                {% else %}
                    {% sw_icon 'placeholder' style {
                        size: 'lg'
                    } %}
                {% endif %}
            </div>
        {% endblock %}

        {% block shogun_component_search_suggest_item_content %}
            <div class="{{ classes.content|join(' ') }}">

                {% block shogun_component_search_suggest_item_name %}
                    <div class="{{ classes.productName|join(' ') }}">
                        {{ product.translated.name }}
                    </div>
                {% endblock %}

                {% block shogun_component_search_suggest_item_pricing %}
                    <div class="{{ classes.productPricing.container|join(' ') }}">

                        {% block shogun_component_search_suggest_item_price_prefix %}
                            {% if product.calculatedPrices.count > 1 or displayFromVariants %}
                                {{ 'listing.listingTextFrom'|trans|sw_sanitize }}
                            {% endif %}
                        {% endblock %}

                        {% block shogun_component_search_suggest_item_price %}
                            <span class="search-suggest-product-price">
                                {{ price.unitPrice|currency }}
                            </span>
                        {% endblock %}

                        {% block shogun_component_search_suggest_item_reference_price %}
                            {% if price.referencePrice is not null %}
                                <small class="search-suggest-product-reference-price">
                                    ({{ price.referencePrice.price|currency }}
                                    {{ 'general.star'|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }}&nbsp;
                                    {{ price.referencePrice.unitName }})
                                </small>
                            {% endif %}
                        {% endblock %}

                        {% block shogun_component_search_suggest_item_regulation_price %}
                            {% if price.regulationPrice.price is not null %}
                                <small class="search-suggest-product-list-price">
                                    {{ 'general.listPricePreviously'|trans({'%price%': price.regulationPrice.price|currency }) }}
                                    {{ 'general.star'|trans|sw_sanitize }}
                                </small>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </a>
{% endblock %}