{% block shogun_component_search_suggest_summary %}
    {% if page.searchResult.total == 0 %}
        {% block shogun_component_search_suggest_no_result %}
            <div class="search-suggest-no-result">
                {{ 'header.searchNoResult'|trans|sw_sanitize }}
            </div>
        {% endblock %}
    {% else %}
        {% block shogun_component_search_suggest_summary_results %}
            <div class="js-result search-suggest-total p-3 border-top">

                {% block shogun_component_suggest_summary_results_button %}
                    <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}"
                        title="{{ 'header.searchAllResults'|trans|striptags }}"
                        class="search-suggest-total-link btn btn-primary">
                        {{ 'header.searchAllResults'|trans|sw_sanitize }}
                        <span class="badge rounded-pill text-bg-light">
                            {{page.searchResult.total}}
                        </span>
                    </a>
                {% endblock %}

            </div>
        {% endblock %}
    {% endif %}
{% endblock %}