{% block shogun_component_search_suggest %}
    <div class="position-absolute top-100 start-50 w-100 translate-middle-x search-suggest js-search-result">
        {% block shogun_component_suggest_container %}
            <div class="search-suggest-container bg-white border border-1 rounded-3 shadow-lg">
                {% block shogun_component_suggest_results %}
                    <div class="search-suggest-grid grid gap-3 p-3">
                        {% for product in page.searchResult %}
                            {% block shogun_component_suggest_result_product %}
                                {% sw_include '@Storefront/shogun/component/search/suggest-item.html.twig' %}
                            {% endblock %}
                        {% endfor %}
                    </div>
                {% endblock %}

                {% block shogun_component_suggest_result_total %}
                    {% sw_include '@Storefront/shogun/component/search/suggest-summary.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}