{% sw_extends '@Storefront/storefront/component/listing/filter/filter-rating-select.html.twig' %}

{% block component_filter_multi_select %}

    {% set classes = sh_define_classes({
        panel: ['filter-multi-select', 'filter-multi-select-' ~ name, 'filter-panel-item', sidebar ? 'd-grid' : 'dropdown']
    }, classes|default({}), replaceClasses|default(false)) %}

    <div 
        class="{{ classes.panel|join(' ') }}"
        role="listitem"
        data-{{ pluginSelector }}="true"
        data-{{ pluginSelector }}-options='{{ dataPluginSelectorOptions|json_encode }}'>

        {% block component_filter_multi_select_toggle %}
            {{ parent() }}
        {% endblock %}

        {% block component_filter_multi_select_dropdown %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block component_filter_multi_select_toggle_icon %}
    {{sh_icon('caret-down')}}
{% endblock %}

{% block component_filter_multi_select_list %}
    <ul class="filter-multi-select-list">
        {% for point in maxPoints..1 %}
            <li class="filter-rating-select-list-item">

                {% block component_filter_rating_select_list_item %}
                    {% set points = point %}

                    {% if maxPoints is not defined %}
                        {% set maxPoints = 5 %}
                    {% endif %}

                    {% block component_filter_rating_select_list_item_input %}
                        <input type="radio"
                            name="rating-radio"
                            class="filter-rating-select-radio"
                            value="{{ points }}"
                            id="rating-{{ points }}">
                    {% endblock %}

                    {% block component_filter_rating_select_list_item_label %}
                        <label class="filter-rating-select-item-label" for="rating-{{ points }}">
                            {% block component_filter_rating_select_list_item_label_rating %}
                                {% sw_include '@Storefront/shogun/component/review/rating.html.twig' with {
                                    points: points,
                                    style: 'text-primary',
                                    altText: 'listing.filterRatingMinAltText'|trans({ '%points%': points, '%maxPoints%': maxPoints })|sw_sanitize,
                                } %}
                            {% endblock %}

                            {% block component_filter_rating_select_list_item_label_text %}
                                <span class="filter-rating-select-item-label-text" aria-hidden="true">
                                    {{ 'listing.filterRatingAndMore'|trans({ '%points%': points, '%maxPoints%': maxPoints })|sw_sanitize }}
                                </span>
                            {% endblock %}
                        </label>
                    {% endblock %}

                    {% block component_filter_rating_select_list_item_checkmark %}
                        <span class="filter-rating-select-item-checkmark" aria-hidden="true">
                            {% block component_filter_rating_select_list_item_checkmark_icon %}
                                {% sw_icon 'checkmark' style {pack: 'solid', size: 'xs'} %}
                            {% endblock %}
                        </span>
                    {% endblock %}
                {% endblock %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}