{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_header %}
    <div class="d-flex flex-wrap align-items-center filter-panel-offcanvas-header">
        <div class="fs-5 fw-semibold filter-panel-offcanvas-only filter-panel-offcanvas-title">
            {{ "listing.filterTitleText"|trans }}
        </div>

        <div class="btn ms-auto filter-panel-offcanvas-only filter-panel-offcanvas-close js-offcanvas-close">
            {{sh_icon('x')}}
        </div>
    </div>
{% endblock %}

{% block component_filter_panel_items_container %}
    <div class="filter-panel-items-container">
        {% block component_filter_panel_items %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{# manufacturer filter #}
{% block component_filter_panel_item_manufacturer %}
    {# @var manufacturers \Shopware\Core\Framework\DataAbstractionLayer\Search\AggregationResult\Metric\EntityResult #}
    {% set manufacturers = listing.aggregations.get('manufacturer') %}
    {% if not manufacturers.entities is empty %}
        {% set manufacturersSorted = manufacturers.entities|sort((a, b) => a.translated.name|lower <=> b.translated.name|lower) %}

        {% sw_include '@Storefront/shogun/component/filter/filter-multi-select.html.twig' with {
            elements: manufacturersSorted,
            sidebar: sidebar,
            name: 'manufacturer',
            displayName: 'listing.filterManufacturerDisplayName'|trans|sw_sanitize,
            classes: {
                panel: panelColumnClasses|default(['g-col-12'])
            },
        } %}
    {% endif %}
{% endblock %}

{# properties filter #}
{% block component_filter_panel_item_properties %}
    {# @var properties \Shopware\Core\Framework\DataAbstractionLayer\Search\AggregationResult\Metric\EntityResult #}
    {% set properties = listing.aggregations.get('properties') %}

    {% if not properties.entities is empty %}
        {% for property in properties.entities %}
            {% sw_include '@Storefront/shogun/component/filter/filter-multi-select.html.twig' with {
                elements: property.options,
                sidebar: sidebar,
                name: 'properties',
                displayName: property.translated.name,
                displayType: property.displayType,
                pluginSelector: 'filter-property-select',
                propertyName: property.translated.name,
                classes: {
                    panel: panelColumnClasses|default(['g-col-12'])
                },
            } %}
        {% endfor %}
    {% endif %}
{% endblock %}

{# price filter #}
{% block component_filter_panel_item_price %}
    {% set price = listing.aggregations.get('price') %}

    {% if price.min !== null and price.max !== null %}
        {% sw_include '@Storefront/shogun/component/filter/filter-range.html.twig' with {
            sidebar: sidebar,
            name: 'price',
            minKey: 'min-price',
            maxKey: 'max-price',
            lowerBound: 0,
            displayName: 'listing.filterPriceDisplayName'|trans|sw_sanitize,
            minInputValue: 0,
            maxInputValue: price.max,
            classes: {
                panel: panelColumnClasses|default(['g-col-12'])
            },
        } %}
    {% endif %}
{% endblock %}

{# rating filter #}
{% block component_filter_panel_item_rating_select %}
    {% if listing.aggregations.get('rating').max > 0 %}
        {% sw_include '@Storefront/shogun/component/filter/filter-rating-select.html.twig' with {
            sidebar: sidebar,
            name: 'rating',
            pluginSelector: 'filter-rating-select',
            displayName: 'listing.filterRatingDisplayName'|trans|sw_sanitize,
            classes: {
                panel: panelColumnClasses|default(['g-col-12'])
            },
        } %}
    {% endif %}
{% endblock %}