{% set icon = icon|default('list') %}
{% set showLabel = showLabel|default(false) %}

{% set classes = sh_define_classes({
    button: ['btn', 'navigation-action-btn'],
    icon: ['position-relative', 'd-flex', 'justify-content-center', 'align-items-center'],
    label: []
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_navigation_action %}
    <button
        class="{{ classes.button|join(' ') }}"
        type="button"
        data-off-canvas-menu="true"
        aria-label="{{ 'general.menuLink'|trans|striptags }}"
    >
        {% block shogun_component_navigation_action_icon %}
            <span class="{{ classes.icon|join(' ') }}">
                {% block shogun_component_navigation_action_icon_element %}
                    {{ sh_icon(icon) }}
                {% endblock %}
            </span>
        {% endblock %}

        {% block shogun_component_navigation_action_label %}
            {% if showLabel %}
                <span class="{{ classes.label|join(' ') }}">
                    {{ 'general.menuLink'|trans|striptags }}
                </span>
            {% endif %}
        {% endblock %} 
    </button>
{% endblock %}
