{% block shogun_component_navigation_flyout %}
    <div class="navigation-flyout">
        {% block shogun_component_navigation_flyout_categories %}
            <div class="navigation-flyout-categories">
                {% sw_include '@Storefront/shogun/component/navigation/categories.html.twig' with {
                    navigationTree: navigationTree.tree,
                    level: 0
                } only %}
            </div>
        {% endblock %}
    </div>
{% endblock %}