{% set classes = sh_define_classes({
    item: ['line-item','js-cart-item', 'line-item-' ~ lineItem.type],
    removeBtn: []
}, classes|default({}), replaceClasses|default(false)) %}

{% if showRemoveButton is not defined %}
    {% set showRemoveButton = true %}
{% endif %}

{% block shogun_component_line_item %}
    <div class="{{classes.item|join(' ')}}">

        {% block shogun_component_line_item_main %}
            <div class="line-item-main">
                
            {% block shogun_component_line_item_image %}
                <div class="line-item-image-container">
                    {% block shogun_component_line_item_image_element %}{% endblock %}
                </div>
            {% endblock %}
                
            {% block shogun_component_line_item_content %}
                <div class="line-item-content">

                {% block shogun_component_line_item_header %}
                    <div class="line-item-header">

                    {% block shogun_component_line_item_name %}
                        <div class="line-item-name">
                            {% block shogun_component_line_item_name_content %}{% endblock %}
                        </div>
                    {% endblock %}

                    {% block shogun_component_line_item_actions %}
                        <div class="line-item-actions">

                            {% block shogun_component_line_item_actions_inner %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    </div>
                {% endblock %}

                {% block shogun_component_line_item_details %}
                {% endblock %}

                </div>
            {% endblock %}

            </div>
        {% endblock %}
    </div>
{% endblock %}