{% block component_line_item %}
    {% set PRODUCT_LINE_ITEM_TYPE = constant('Shopware\\Core\\Checkout\\Cart\\LineItem\\LineItem::PRODUCT_LINE_ITEM_TYPE') %}
    {% set DISCOUNT_LINE_ITEM_TYPE = constant('Shopware\\Core\\Checkout\\Cart\\LineItem\\LineItem::DISCOUNT_LINE_ITEM') %}
    {% set CONTAINER_LINE_ITEM_TYPE = constant('Shopware\\Core\\Checkout\\Cart\\LineItem\\LineItem::CONTAINER_LINE_ITEM') %}

    {% set isDiscount = (not lineItem.good and lineItem.price.totalPrice <= 0) or lineItem.type == DISCOUNT_LINE_ITEM_TYPE %}
    {% set isProduct = lineItem.type == PRODUCT_LINE_ITEM_TYPE %}
    {% set isContainer = lineItem.type == CONTAINER_LINE_ITEM_TYPE %}

    {% block component_line_item_type_include %}
        {% if isProduct %}
            {% block shogun_component_line_item_type_product_include %}
                {% sw_include '@Storefront/shogun/component/line-item/product.html.twig' %}
            {% endblock %}
        {% elseif isDiscount %}
            {% block shogun_component_line_item_type_promotion_include %}
                {% sw_include '@Storefront/shogun/component/line-item/promotion.html.twig' %}
            {% endblock %}
        {% elseif isContainer %}
            {% block shogun_component_line_item_type_container_include %}
                {% sw_include '@Storefront/shogun/component/line-item/container.html.twig' %}
            {% endblock %}
        {% else %}
            {% block shogun_component_line_item_type_generic_include %} 
                {% sw_include '@Storefront/shogun/component/line-item/generic.html.twig' %}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}