{% sw_extends '@Storefront/shogun/component/line-item/base.html.twig' %}

{% block shogun_component_line_item_image_element %}
    {% sw_include '@Storefront/storefront/component/line-item/element/image.html.twig' %}
{% endblock %}

{% block shogun_component_line_item_name_content %}
    {% set productLink = null %}
    {% set label = lineItem.label|trans|sw_sanitize %}

    {% if lineItem.type is same as('product') %}
        {% set productLink = seoUrl('frontend.detail.page', { productId: lineItem.referencedId }) %}
    {% endif %}

    {% if productLink is not null %}
        <a href="{{ productLink }}"
            class="line-item-label product-name"
            title="{{ label }}"
        >
            {{ label|raw }}
        </a>
    {% else %}
        <span class="line-item-label product-name">
            {{ label|raw }}
        </span>
    {% endif %}
{% endblock %}

{% block shogun_component_line_item_actions_inner %}

    {% block shogun_component_line_item_action_wishlist %}
        {% if config('core.cart.wishlistEnabled') %}
            {% sw_include '@Storefront/shogun/component/product/action-wishlist.html.twig' with {
                showText: false,
                size: 'sm',
                productId: lineItem.referencedId,
                classes: {
                    action: ['line-item-action']
                }
            } %}
        {% endif %}
    {% endblock %}

    {% block shogun_component_line_item_action_delete %}
        {% if showRemoveButton is same as(true) and lineItem.removable and nestingLevel < 1 %}
            {% sw_include '@Storefront/shogun/component/line-item/element/remove.html.twig' with {
                classes: {
                    btn: classes.removeBtn
                }
            } %}
        {% endif %}
    {% endblock %}

{% endblock %}

{% block shogun_component_line_item_details %}

    {% block shogun_component_line_item_product_body %}
        <div class="line-item-body">
            {% block shogun_component_line_item_product_variants %}
                {% if lineItem.payload.options is not empty %}
                    {% sw_include '@Storefront/storefront/component/line-item/element/variant-characteristics.html.twig' %}
                {% endif %}
            {% endblock %}

            {% block shogun_component_line_item_product_features %}
                {% if lineItem.payload.features is not empty %}
                    {% sw_include '@Storefront/storefront/component/product/feature/list.html.twig' with {
                        features: lineItem.payload.features
                    } %}
                {% endif %}
            {% endblock %}

            {% block shogun_component_line_item_product_delivery_time %}
                {% if config('core.cart.showDeliveryTime') %}
                    {% sw_include '@Storefront/shogun/component/line-item/element/delivery-date.html.twig' %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block shogun_component_line_item_product_footer %}
        <div class="line-item-footer">
            {% block shogun_component_line_item_product_total_pricing %}
                <div class="line-item-total-pricing">
                    {% block shogun_component_line_item_product_quantity %}
                        <div class="line-item-quantity">
                            {% sw_include '@Storefront/shogun/component/line-item/element/quantity.html.twig' %}
                        </div>
                    {% endblock %}
                    
                    {% block shogun_component_line_item_product_total_price %}
                        <div class="line-item-total-price">
                            {# Shipping costs discounts always have a price of 0, which might be confusing, therefore we do not show those #}
                            {% if lineItem.payload.discountScope != 'delivery' %}
                                {{ lineItem.price.totalPrice|currency }}
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}

{% block shogun_component_line_item_main %}
    {{ parent() }}
{% endblock %}