{% sw_extends '@Storefront/shogun/component/line-item/base.html.twig' %}

{% block shogun_component_line_item_image_element %}
    <div class="line-item-img discount-icon">
        {{sh_icon('tag')}}
    </div>
{% endblock %}

{% block shogun_component_line_item_name_content %}
    {% set label = lineItem.label|trans|sw_sanitize %}

    <span class="line-item-label discount-name">
        {{ label|raw }}
    </span>
{% endblock %}

{% block shogun_component_line_item_details %}
    <div class="line-item-total-price">
        {# Shipping costs discounts always have a price of 0, which might be confusing, therefore we do not show those #}
        {% if lineItem.payload.discountScope != 'delivery' %}
            {{ lineItem.price.totalPrice|currency }}
        {% endif %}
    </div>
{% endblock %}