{% set defaultClasses = {
    item: ['contact-channel'],
    label: ['contact-channel-label'],
    content: ['contact-channel-content'],
    value: ['contact-channel-value']
} %}

{% if classes is defined %}
    {% set classes = defaultClasses|sh_merge_deep(classes) %}
{% else %}
    {% set classes = defaultClasses %}
{% endif %}

{% block shogun_component_footer_contact_channel %}
    <div class="{{classes.item|join(' ')}}">

        {% block shogun_component_footer_contact_channel_label %}
            {% if label %}
                <div class="{{classes.label|join(' ')}}">
                    {{label}}
                </div>
            {% endif %}
        {% endblock %}

        {% block shogun_component_footer_contact_channel_content %}
            <div class="{{classes.content|join(' ')}}">

                {% block shogun_component_footer_contact_channel_icon %}
                    {% if icon %}
                        {{sh_icon(icon)}}
                    {% endif %}
                {% endblock %}

                {% block shogun_component_footer_contact_channel_value %}

                    {% if url %}
                        <a href="{{url}}"
                            class="{{classes.value|join(' ')}}"
                            {% if urlAttributes %}
                                {{urlAttributes|join(' ')|raw}}
                            {% endif %}
                            {% if openExternal %}
                                target="_blank"
                            {% endif %}
                            title="{{value}}">

                            {% block shogun_component_footer_contact_channel_link_value_content %}
                                {% if value %}
                                    {{value|raw}}
                                {% endif %}
                            {% endblock %}
                        </a>
                    {% else %}
                        <span class="{{classes.value|join(' ')}}">
                            {% block shogun_component_footer_contact_channel_value_content %}
                                {% if value %}
                                    {{value|raw}}
                                {% endif %}
                            {% endblock %}
                        </span>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}