{#
    Required variables:
    - methodType
    - methodId
    - methodDisabled
    - methodMedia
    - methodMeta
    - selectedMethodId
#}

{% if methodType is not defined %}
    {% set methodType = 'payment' %}
{% endif %}

{% block shogun_component_method_option %}
    <div class="method-option {{ methodType }}-method">

        {% block shogun_component_method_option_input %}
            <input type="radio"
                id="{{ methodType }}Method{{ methodId }}"
                name="{{ methodType }}MethodId"
                value="{{ methodId }}"
                {% if methodId is same as(selectedMethodId) %}
                    checked="checked"
                {% endif %}
                {% if methodDisabled is same as(true) %}
                    disabled="disabled"
                {% endif %}
                class="method-option-input {{ methodType }}-method-input">            
        {% endblock %}

        {% block shogun_component_method_option_label %}
            <label class="method-option-label {{ methodType }}-method-label"
                for="{{ methodType }}Method{{ methodId }}">

                {% block shogun_component_method_option_image %}
                    {% if methodMedia %}
                        <div class="method-option-image">
                            {% sw_thumbnails 'method-option-image-thumbnails' with {
                                media: methodMedia,
                                sizes: {
                                    default: '100px'
                                },
                                attributes: {
                                    class: 'method-option-image-element',
                                    alt: (payment.media.translated.alt ?: payment.translated.name),
                                    title: (payment.media.translated.title ?: payment.translated.name)
                                }
                            } %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block shogun_component_method_option_content %}
                    <div class="method-option-content">

                        {% block shogun_component_method_option_name %}
                            {% set methodName = methodMeta.name %}
                            <div class="method-option-name">
                                {{ methodName }}
                            </div>
                        {% endblock %}

                        {% block shogun_component_method_option_description %}
                            {% set methodDescription = methodMeta.description %}

                            {% if methodDescription %}
                                <div class="method-option-description ">
                                    {{ methodDescription }}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </label>
        {% endblock %}
    </div>
{% endblock %}