{% set classes = sh_define_classes({
    group: ['input-group','quantity-selector-group', 'quantity-input'],
    decrease: ['btn','btn-decrease','js-btn-minus'],
    increase: ['btn','btn-increase','js-btn-plus'],
    input: ['form-control','text-center','js-quantity-selector','quantity-selector-group-input', 'quantity-input-control'],
}, classes|default({}), replaceClasses|default(false)) %}

{% if size is defined && size is same as('sm') %}
    {% set classes = classes|sh_merge_deep({
        group: ['input-group-sm']
    }) %}
{% endif %}

{% if inputName is not defined %}
    {% set inputName = 'quantity' %}
{% endif %}

{% if quantity is not defined %}
    {% set quantity = 1 %}
{% endif %}

{% if minQuantity is not defined %}
    {% set minQuantity = 1 %}
{% endif %}

{% if maxQuantity is not defined %}
    {% set maxQuantity = 99 %}
{% endif %}

{% if purchaseSteps is not defined %}
    {% set purchaseSteps = 1 %}
{% endif %}

{% block shogun_component_quantity_input %}
    <div class="{{classes.group|join(' ')}}" 
        data-quantity-selector="true">

        {% block shogun_component_quantity_input_decrease %}
            <button
                {% if disabled is same as(true) %}disabled="disabled"{% endif %}
                type="button"
                class="{{classes.decrease|join(' ')}}"
                aria-label="{{ 'component.product.quantitySelect.decrease'|trans|striptags }}"
            >
                {{sh_icon('minus')}}
            </button>
        {% endblock %}

        {% block shogun_component_quantity_input_field %}
            <input
                {% if disabled is same as(true) %}disabled="disabled"{% endif %}
                {% if formName is defined %}form="{{formName}}"{% endif %}
                type="number"
                name="{{inputName}}"
                class="{{classes.input|join(' ')}}"
                min="{{ minQuantity }}"
                max="{{ maxQuantity }}"
                step="{{ purchaseSteps }}"
                value="{{ quantity }}"
                aria-label="{{ 'component.product.quantitySelect.label'|trans|striptags }}"
            />
        {% endblock %}

        {% if unit %}
            <span class="input-group-text">
                {{unit}}
            </span>
        {% endif %}

        {% block shogun_component_quantity_input_increase %}
            <button
                {% if disabled is same as(true) %}disabled="disabled"{% endif %}
                type="button"
                class="{{classes.increase|join(' ')}}"
                aria-label="{{ 'component.product.quantitySelect.increase'|trans|striptags }}"
            >
                {{sh_icon('plus')}}
            </button>
        {% endblock %}
    </div>
{% endblock %}