{% sw_extends '@Storefront/storefront/layout/scroll-up.html.twig' %}

{% block layout_scroll_up_inner %}
    <div class="scroll-up-container position-fixed end-0 bottom-0"
         data-scroll-up="true">
        {% block layout_scroll_up_button %}
            <div class="scroll-up-button js-scroll-up-button">
                <button type="submit"
                        class="btn btn-primary rounded-pill p-3"
                        aria-hidden="true">
                    {% block layout_scroll_up_button_icon %}
                        {{sh_icon('caret-up')}}
                    {% endblock %}
                </button>
            </div>
        {% endblock %}
    </div>
{% endblock %}