{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}

{% block buy_widget_price_content %}
    {% set listPrice = price.listPrice %}
    {% set isListPrice = price.listPrice.percentage > 0 %}
    {% set isRegulationPrice = price.regulationPrice != null %}

    {% set classes = sh_define_classes({
        price: ['product-price'],
    }, classes|default({}), replaceClasses|default(false)) %}

    {% if isListPrice %}
        {% set classes = classes|sh_merge_deep({
            price: ['with-list-price'],
        }) %}
    {% endif %}

    {% if isRegulationPrice %}
        {% set classes = classes|sh_merge_deep({
            price: ['with-regulation-price'],
        }) %}
    {% endif %}

    {% block shogun_component_product_buy_price %}
        <div class="{{classes.price|join(' ')}}">
            {{ price.unitPrice|currency }}{{ 'general.star'|trans|sw_sanitize }}
        </div>
    {% endblock %}

    {% block shogun_component_product_list_pricing %}
        {% if isListPrice %}
            {% block buy_widget_was_price %}
                {% set afterListPriceSnippetExists = 'listing.afterListPrice'|trans|length > 0 %}
                {% set beforeListPriceSnippetExists = 'listing.beforeListPrice'|trans|length > 0 %}
                
                {% block buy_widget_was_price_badge %}
                    <span class="list-price-badge">&#37;</span>
                {% endblock %}

                {% block buy_widget_was_price_wrapper %}
                    <span class="product-detail-list-price-wrapper">
                        {% block shogun_component_product_list_price_prefix %}
                            {% if beforeListPriceSnippetExists %}
                                {{'listing.beforeListPrice'|trans|trim}}
                            {% endif %}
                        {% endblock %}

                        {% block shogun_component_product_list_price %}
                            {{ listPrice.price|currency }}{{ 'general.star'|trans|sw_sanitize }}
                        {% endblock %}

                        {% block shogun_component_product_list_price_suffix %}
                            {% if afterListPriceSnippetExists %}
                                {{'listing.afterListPrice'|trans|trim}}
                            {% endif %}
                        {% endblock %}

                        {% block shogun_component_product_list_price_percentage %}
                            <span class="list-price-percentage">
                                {{ 'detail.listPricePercentage'|trans({'%price%': listPrice.percentage })|sw_sanitize }}
                            </span>
                        {% endblock %}
                    </span>
                {% endblock %}
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block shogun_component_product_regulation_pricing %}
        {% if isRegulationPrice %}
            <span class="regulation-price">
                {{ 'general.listPricePreviously'|trans({'%price%': price.regulationPrice.price|currency }) }}{{ 'general.star'|trans|sw_sanitize }}
            </span>
        {% endif %}
    {% endblock %}
{% endblock %}