.btn {
    @extend .d-inline-flex;
    --btn-gap: var(--spacer-sm);
    /** @todo turn into css var **/
    --btn-icon-size: 20px;
    gap: var(--btn-gap);
    justify-content: var(--btn-justify-content, center);
    align-items: var(--btn-align-items, center);
    
    &.btn-sm,
    .input-group-sm & {
        /** @todo turn into css var **/
        --btn-icon-size: 16px;
    }

    .icon,
    .sh-icon {
        font-size: var(--btn-icon-size);
    }

    .loader {
        --spinner-border-width: 2px;
        --spinner-width: calc(var(--btn-icon-size) - var(--spinner-border-width));
        --spinner-height: calc(var(--btn-icon-size) - var(--spinner-border-width));
    }
}

.btn-buy {
    @include button-variant($sw-color-buy-button, $sw-color-buy-button, $sw-color-buy-button-text);
}