.card {
    --card-inner-border-radius: calc(var(--card-border-radius) - (var(--card-border-width)));
    --card-header-line-height: var(--body-line-height);
    gap: var(--card-gap, 0px);
    box-shadow: var(--card-box-shadow);
    max-width: var(--card-max-width);

    .card-header {
        line-height: var(--card-header-line-height);
    }

    .card-title {
        font-size: var(--card-title-fs, var(--body-font-size));
        font-weight: var(--card-title-fw, inherit);
    }
}