.divider {
    display: flex;
    align-items: center;
    gap: var(--divider-gap, var(--spacer-sm));
}

.divider:before,
.divider:after {
    content: '';
    flex: 1 0%;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--divider-line-color, var(--border-color));
}

.divider-label {
    flex: 0 auto;
    text-align: center;
    font-size: var(--divider-label-fs, var(--font-size-sm));
}