.pagination {
    gap: var(--pagination-gap, var(--spacer-xs))
}
.page-link {
    border-radius: var(--pagination-border-radius);
    min-width: var(--pagination-min-w, auto);
}
.page-link.active, 
.active > .page-link {
    font-weight: var(--pagination-active-font-weight, 600);
}