{% block shogun_component_footer_bottom %}
    <div class="footer-bottom">
    
    {% block shogun_component_footer_bottom_container %}
        <div class="footer-bottom-container container">

            {% block shogun_component_footer_bottom_service_list %}
                {% if page.header.serviceMenu %}
                    <ul class="footer-service-list list-unstyled">
                        {% for serviceMenuItem in page.header.serviceMenu %}
                            {% block shogun_component_footer_bottom_service_item %}
                                <li class="footer-service-item">
                                    {% block shogun_component_footer_bottom_service_link %}
                                        <a class="footer-link"
                                            href="{{ category_url(serviceMenuItem) }}"
                                            {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                            title="{{ serviceMenuItem.translated.name }}">
                                            {{ serviceMenuItem.translated.name }}
                                        </a>
                                    {% endblock %}
                                </li>
                            {% endblock %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}

            {% block shogun_component_footer_bottom_vat_notice %}
                {% if showVatNotice is same as(true) %}
                    <div class="footer-vat">
                        {% if context.taxState == 'gross' %}
                            {{ 'footer.includeVatText'|trans({
                                '%url%': path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        {% else %}
                            {{ 'footer.excludeVatText'|trans({
                                '%url%': path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block shogun_component_footer_bottom_copyright %}
                <div class="footer-copyright">
                    {{ 'footer.copyrightInfo'|trans|sw_sanitize }}
                </div>
            {% endblock %}

        </div>
    {% endblock %}

    </div>
{% endblock %}