/**
 * @todo change this static code to bootstrap utilities (api)
 * with responsive behavior
**/
.flex-basis,
.flex-basis-auto,
.flex-basis-0,
.flex-basis-full {
    flex-basis: var(--flex-basis) !important;
}
.flex-basis-auto {
    --flex-basis: auto;
}
.flex-basis-0 {
    --flex-basis: 0%;
}
.flex-basis-full {
    --flex-basis: 100%;
}