$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
        rfs: false,
        responsive: true,
        values: (
            0: 0,
            1: map-get($sh-font-sizes, 'xs'),
            2: map-get($sh-font-sizes, 'sm'),
            3: map-get($sh-font-sizes, 'md'),
            4: map-get($sh-font-sizes, 'lg'),
            5: map-get($sh-font-sizes, 'xl'),
            6: map-get($sh-font-sizes, '2xl'),
            7: map-get($sh-font-sizes, '3xl'),
            8: map-get($sh-font-sizes, '4xl'),
            9: map-get($sh-font-sizes, '5xl'),
          )
      ),
    ),
  )
);