{% sw_extends '@Storefront/storefront/component/line-item/element/quantity.html.twig' %}

{% if autoSubmit is not defined %}
    {% set autoSubmit = false %}
{% endif %}

{% block component_line_item_quantity_select_input %}
    {% sw_include '@Storefront/shogun/component/quantity-input.html.twig' with {
        quantity: lineItem.quantity,
        size: 'sm',
        classes: {
            input: ['test']
        }
    } only %}
{% endblock %}

{% block component_line_item_quantity_inner %}

        {% block component_line_item_quantity_label %}
        {% endblock %}

        {% block component_line_item_quantity_select_wrapper %}

            {% if showQuantitySelect and lineItem.quantityInformation and lineItem.stackable and nestingLevel < 1 %}
                {% block component_line_item_quantity_select_form %}
                    {% set autoSubmitOptions = {
                        delayChangeEvent: 800,
                    } %}
                    <form action="{{ formAction }}"
                            class="line-item-quantity-container {% if isDigital %}disabled{% endif %}"
                            method="post"
                            {% if autoSubmit is same as(true) %}
                                data-form-auto-submit="true"
                                data-form-auto-submit-options="{{ autoSubmitOptions|json_encode }}"
                            {% endif %}
                    >
                        {% block component_line_item_quantity_redirect %}
                            {{ parent() }}
                        {% endblock %}

                        {# @deprecated tag:v6.7.0 - Unused variable selectQuantityThreshold will be removed without replacement #}
                        {% set selectQuantityThreshold = 100 %}

                        {% block component_line_item_quantity_select %}
                            {% sw_include '@Storefront/shogun/component/quantity-input.html.twig' with {
                                quantity: lineItem.quantity,
                                size: 'sm'
                            } only %}
                        {% endblock %}
                    </form>
                {% endblock %}
            {% else %}
                {% block component_line_item_quantity_display %}
                    {{ parent() }}
                {% endblock %}
            {% endif %}

        {% endblock %}

{% endblock %}