{% sw_extends '@Storefront/storefront/component/line-item/element/remove.html.twig' %}

{% block component_line_item_remove_button %}
    {% set classes = sh_define_classes({
        btn: ['btn', 'line-item-remove-button', 'line-item-action']
    }, classes|default({}), replaceClasses|default(false)) %}

    <button type="submit"
            aria-label="{{ 'checkout.removeLineItem'|trans({ '%lineItemLabel%': label })|striptags }}"
            title="{{ 'global.default.remove'|trans }}"
            data-product-id="{{ lineItem.id }}"
            class="{{classes.btn|join(' ')}}">
        {{sh_icon('x')}}
    </button>
{% endblock %}