{% sw_extends '@Storefront/storefront/component/review/review-item.html.twig' %}

{% block component_review_item_info_points %}
    <div class="col-md-auto product-detail-review-item-points">
        {% sw_include '@Storefront/shogun/component/review/rating.html.twig' with {
            points: review.points
        } %}
    </div>
{% endblock %}