{% sw_extends '@Storefront/storefront/component/review/rating.html.twig' %}

{% block component_review_rating_output %}
    <div class="product-review-rating d-flex flex-wrap flex-row">
        {% if full > 0 %}
            {% for star in range(1,full) %}
                <div class="review-star full">
                    {{sh_icon('star-fill')}}
                </div>
            {% endfor %}
        {% endif %}

        {% if half %}
            <div class="review-star half">
                {{sh_icon('star-half-fill')}}
            </div>
        {% endif %}

        {% if blank > 0 %}
            {% for star in range(1,blank) %}
                <div class="review-star blank">
                    {{sh_icon('star')}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}