{% sw_extends '@Storefront/storefront/component/address/address-form.html.twig' %}
{% import "@ShogunBundle/shogun/macros/address-form.twig" as address_form %}

{% block component_address_form %}

    {% set classes = sh_define_classes({
        container: ['address-form'],
        fields: {
            street: {},
            zipcode: {},
            city: {},
            addressLine1: {},
            addressLine2: {},
            country: {},
            countryState: {},
            phone: {},
            company: {},
            department: {},
        }
    }, classes|default({}), replaceClasses|default(false)) %}

    <div class="{{classes.container|join(' ')}}">
        {{ parent() }}
    </div>
{% endblock %}

{% block component_address_form_street %}
    {{ address_form.field( 
        'street', 
        'address.streetLabel', 
        'address.streetPlaceholder',
        prefix,
        'text',
        true,
        classes.fields.street
    ) }}
{% endblock %}

{% block component_address_form_zipcode_city %}
    {% set zipcodeField %}
        {{ address_form.field(
            'zipcode', 
            'address.zipcodeLabel', 
            'address.zipcodePlaceholder',
            prefix,
            'text',
            true,
            classes.fields.zipcode
        ) }}
    {% endset %}

    {% set cityField %}
        {{ address_form.field(
            'city', 
            'address.cityLabel', 
            'address.cityPlaceholder',
            prefix,
            'text',
            true,
            classes.fields.city
        ) }}
    {% endset %}

    {% block shogun_component_address_form_city %}
        {{ zipcodeField }}
    {% endblock %}

    {% block shogun_component_address_form_zipcode %}
        {{ cityField }}
    {% endblock %}
{% endblock %}

{% block component_address_form_additional_field1 %}
    {% set isRequired = config('core.loginRegistration.additionalAddressField1Required') ? true : false %}
    {% if config('core.loginRegistration.showAdditionalAddressField1') %}
        {{ address_form.field(
            'additionalAddressLine1', 
            'address.additionalField1Label', 
            'address.additionalField1Placeholder', 
            prefix,
            'text', 
            isRequired,
            classes.fields.addressLine1
        ) }}
    {% endif %}
{% endblock %}

{% block component_address_form_additional_field2 %}
    {% set isRequired = config('core.loginRegistration.additionalAddressField2Required') ? true : false %}
    {% if config('core.loginRegistration.showAdditionalAddressField2') %}
        {{ address_form.field(
            'additionalAddressLine2', 
            'address.additionalField2Label', 
            'address.additionalField2Placeholder', 
            prefix,
            'text', 
            isRequired,
            classes.fields.addressLine2
        ) }}
    {% endif %}
{% endblock %}

{% block component_address_form_country %}
    {% set initialCountryId = null %}

    {% if data.get('countryId') %}
        {% set initialCountryId = data.get('countryId') %}
    {% elseif page.countries|length == 1 and disableNonShippableCountries is not defined %}
        {% set initialCountryId = (page.countries|first).id %}
    {% endif %}

    {{ address_form.select_field(
        'countryId',
        'address.countryLabel',
        'address.countryPlaceholder',
        page.countries|map(country => {
            value: country.id,
            label: country.name,
            selected: country.id == initialCountryId,
            disabled: not country.shippingAvailable and disableNonShippableCountries ? true : false,
        }),
        false,
        {},
        prefix,
        true,
        classes.fields.country
    ) }}

    {{ address_form.select_field(
        'countryStateId',
        'address.countryStateLabel',
        'address.countryStatePlaceholder',
        [],
        true,
        {
            'data-initial-country-state-id': data.get('countryStateId')
        },
        prefix,
        false,
        classes.fields.countryState
    ) }}
{% endblock %}

{% block component_address_form_phone_number %}
    {% set isRequired = config('core.loginRegistration.phoneNumberRequired') ? true : false %}
    {% if config('core.loginRegistration.showPhoneNumberField') %}
        {{ address_form.field(
            'phoneNumber', 
            'address.phoneNumberLabel', 
            'address.phoneNumberPlaceholder', 
            prefix,
            'tel', 
            isRequired,
            classes.fields.phone 
        ) }}
    {% endif %}
{% endblock %}

{% block component_address_form_company_fields %}
    <div class="g-col-12 grid gap-3">

        {% block component_address_form_company_name %}
            {% set isRequired = prefix != 'shippingAddress' and accountTypeRequired %}
            {{ address_form.field(
                'company', 
                'address.companyNameLabel', 
                'address.companyNamePlaceholder', 
                prefix,
                'text', 
                isRequired,
                classes.fields.company 
            ) }}
        {% endblock %}

        {% block component_address_form_company_department %}
            {{ address_form.field(
                'department', 
                'address.companyDepartmentLabel', 
                'address.companyDepartmentPlaceholder', 
                prefix,
                'text',
                false,
                classes.fields.department
            ) }}
        {% endblock %}

        {# ludtwig-ignore twig-block-name-snake-case #}
        {% block component_address_form_company_vatId %}
            {% if prefix == 'address' and showVatIdField %}
                <div class="form-group g-col-6 g-col-lg-3">
                    {% sw_include '@Storefront/storefront/component/address/address-personal-vat-id.html.twig' with {
                        vatIds: context.customer.vatIds
                    } %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}