{% sw_extends '@Storefront/storefront/component/address/address-personal.html.twig' %}

{# Provides customer type, salutation, title, firstname, lastname and birthday fields for address forms (e.g. registering a user, creating or updating an address) #}
{% block component_address_personal_fields %}

    {% set classes = sh_define_classes({
        fieldFullname: ['field-fullname'],
        fieldFirstname: ['field-firstname', 'form-group'],
        fieldLastname: ['field-lastname', 'form-group'],
    }, classes|default({}), replaceClasses|default(false)) %}

    {% block component_address_personal_account_type %}
        {% if onlyCompanyRegistration or (config('core.loginRegistration.showAccountTypeSelection') and not hideCustomerTypeSelect) %}
            <div class="row">
                <div class="g-col-6 form-group contact-type">
                    {% block component_address_personal_account_type_label %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_personal_account_type_select %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_personal_account_type_error %}
                    {% endblock %}
                </div>
            </div>
        {% elseif not hideCustomerTypeSelect %}
            <input type="hidden" name="accountType">
        {% endif %}
    {% endblock %}

    {% block component_address_personal_fields_salutation_title %}
        <div class="row">
            {% block component_address_personal_fields_salutation %}
                <div class="g-col-6 form-group field-salutation">
                    {% block component_address_personal_fields_salutation_label %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_form_salutation_select %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_form_salutation_select_error %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_address_personal_fields_title %}
                <div class="g-col-6 form-group field-personal-title">
                    {% if config('core.loginRegistration.showTitleField') %}

                        {% if formViolations.getViolations("/#{prefix}/title") is not empty %}
                            {% set violationPath = "/#{prefix}/title" %}
                        {% elseif formViolations.getViolations("/title") is not empty %}
                            {% set violationPath = "/title" %}
                        {% endif %}

                        {% block component_address_personal_fields_title_label %}
                            {{ parent() }}
                        {% endblock %}

                        {% block component_address_personal_fields_title_input %}
                            {{ parent() }}
                        {% endblock %}

                        {% block component_address_personal_fields_title_input_error %}
                            {{ parent() }}
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block component_address_personal_fields_name %}
        <div class="{{classes.fieldFullname|join(' ')}}">

            {% block component_address_personal_fields_first_name %}
                <div class="{{classes.fieldFirstname|join(' ')}}">

                    {# @deprecated tag:v6.7.0 - firstName will have additional validation #}
                    {% if feature('v6.7.0.0') %}
                        {# New implementation, setting of "violationPath" #}
                        {% if formViolations.getViolations("/#{prefix}/firstName") is not empty %}
                            {% set violationPath = "/#{prefix}/firstName" %}
                        {% elseif formViolations.getViolations("/firstName") is not empty and not prefix %}
                            {% set violationPath = "/firstName" %}
                        {% else %}
                            {% set requiredMessage = "error.VIOLATION::IS_BLANK_ERROR"|trans({ '%field%': "account.personalFirstNameLabel"|trans|sw_sanitize }) %}
                        {% endif %}
                    {% else %}
                        {% if formViolations.getViolations("/firstName") is not empty %}
                            {% set violationPath = "/firstName" %}
                        {% else %}
                            {% set requiredMessage = "error.VIOLATION::IS_BLANK_ERROR"|trans({ '%field%': "account.personalFirstNameLabel"|trans|sw_sanitize }) %}
                        {% endif %}
                    {% endif %}


                    {% block component_address_personal_fields_first_name_label %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_personal_fields_first_name_input %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_personal_fields_first_name_input_error %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_address_personal_fields_last_name %}
                <div class="{{classes.fieldLastname|join(' ')}}">

                    {# @deprecated tag:v6.7.0 - lastName will have additional validation #}
                    {% if feature('v6.7.0.0') %}
                        {% if formViolations.getViolations("/#{prefix}/lastName") is not empty %}
                            {% set violationPath = "/#{prefix}/lastName" %}
                        {% elseif formViolations.getViolations("/lastName") is not empty and not prefix %}
                            {% set violationPath = "/lastName" %}
                        {% else %}
                            {% set requiredMessage = "error.VIOLATION::IS_BLANK_ERROR"|trans({ '%field%': "account.personalLastNameLabel"|trans|sw_sanitize }) %}
                        {% endif %}
                    {% else %}
                        {% if formViolations.getViolations("/lastName") is not empty %}
                            {% set violationPath = "/lastName" %}
                        {% else %}
                            {% set requiredMessage = "error.VIOLATION::IS_BLANK_ERROR"|trans({ '%field%': "account.personalLastNameLabel"|trans|sw_sanitize }) %}
                        {% endif %}
                    {% endif %}

                    {% block component_address_personal_fields_last_name_label %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_personal_fields_last_name_input %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_personal_fields_last_name_input_error %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block component_address_personal_company %}
        {% if (onlyCompanyRegistration or config('core.loginRegistration.showAccountTypeSelection')) and activeRoute == 'frontend.account.profile.page' %}
            <div class="js-field-toggle-contact-type-company{% if customToggleTarget %}-{{ prefix }}{% endif %}">
                {% block component_address_personal_company_fields %}
                    <div class="grid g-col-12">
                        {% block component_address_personal_company_name %}
                            <div class="g-col-12 form-group field-company-name">
                                {% if formViolations.getViolations("/company") is not empty %}
                                    {% set violationPath = "/company" %}
                                {% else %}
                                    {% set requiredMessage = "error.VIOLATION::IS_BLANK_ERROR"|trans({ '%field%': "address.companyNameLabel"|trans|sw_sanitize }) %}
                                {% endif %}

                                {% block component_address_personal_company_name_label %}
                                    {{ parent() }}
                                {% endblock %}

                                {% block component_address_personal_company_name_input %}
                                    {{ parent() }}
                                {% endblock %}

                                {% block component_address_personal_company_name_input_error %}
                                    {{ parent() }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {% block component_address_personal_vat_id %}
        {% if showVatIdField %}
            {% if config('core.loginRegistration.showAccountTypeSelection') or onlyCompanyRegistration %}
                <div class="js-field-toggle-contact-type-company{% if customToggleTarget %}-{{ prefix }}{% endif %} js-field-toggle-contact-type-vat-id">
                    {% block component_address_personal_vat_id_fields %}
                        <div class="row">
                            <div class="g-col-6 form-group field-vat-id">
                                {% sw_include '@Storefront/storefront/component/address/address-personal-vat-id.html.twig' with {
                                    'vatIds': data.get('vatIds'),
                                    'editMode': true
                                } %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block component_address_personal_fields_birthday %}
        {% if showBirthdayField %}
            <div class="fields-birthdate g-col-6">
                {{ parent() }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block component_address_personal_fields_birthday_label %}
    <label for="{{ idPrefix ~ prefix }}personalBirthday" class="form-label">
        {{ "account.personalBirthdayLabel"|trans|sw_sanitize }}{{ config('core.loginRegistration.birthdayFieldRequired') ? "general.required"|trans|sw_sanitize }}
    </label>
{% endblock %}
