{% sw_extends '@Storefront/storefront/page/account/addressbook/address-actions.html.twig' %}

{% block page_account_address_actions %}

        {% block page_account_address_actions_buttons %}
            {% block page_account_address_actions_update %}
                    <a
                        href="{{ path('frontend.account.address.edit.page', {'addressId': address.id}) }}"
                        title="{{ "account.addressesContentItemActionEdit"|trans|striptags }}"
                        class="btn btn-sm{% if feature('v6.7.0.0') %} btn-link p-0 address-action-edit{% else %} btn-light{% endif %}"
                    >
                        {{sh_icon('pencil-simple-line')}}
                        {{ "account.addressesContentItemActionEdit"|trans|sw_sanitize }}
                    </a>
            {% endblock %}

            {% block page_account_address_actions_delete %}
                {% if defaultShippingAddress.id != address.id and defaultBillingAddress.id != address.id %}
                        <form action="{{ path('frontend.account.address.delete', {'addressId': address.id}) }}"
                              class="address-action-delete"
                              method="post">
                            <button
                                type="submit"
                                class="btn btn-sm btn-light"
                                title="{{ "account.addressesContentItemActionDelete"|trans|striptags }}"
                            >
                                {{sh_icon('x')}}
                                {{ "account.addressesContentItemActionDelete"|trans|sw_sanitize }}
                            </button>
                        </form>
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block page_account_address_actions_set_default %}

            {% block page_account_address_actions_set_default_billing %}
                {% if defaultBillingAddress.id != address.id %}
                        <form
                            action="{{ path('frontend.account.address.set-default-address', {'type': 'billing', 'addressId': address.id}) }}"
                            method="post"
                        >
                            <button
                                type="submit"
                                title="{{ "account.addressesSetAsDefaultBillingAction"|trans|striptags }}"
                                class="btn btn-light address-action-set-default address-action-set-default-billing btn-sm"
                            >
                                {{ "account.addressesSetAsDefaultBillingAction"|trans|sw_sanitize }}
                            </button>
                        </form>

                {% endif %}
            {% endblock %}

            {% block page_account_address_actions_set_default_shipping %}
                {% if defaultShippingAddress.id != address.id %}
                        <form
                            action="{{ path('frontend.account.address.set-default-address', {'type': 'shipping', 'addressId': address.id}) }}"
                            method="post"
                        >
                            <button
                                type="submit"
                                title="{{ "account.addressesSetAsDefaultShippingAction"|trans|striptags }}"
                                class="btn btn-light address-action-set-default address-action-set-default-shipping btn-sm"
                                {% if not address.country.shippingAvailable %} disabled="disabled"{% endif %}
                            >
                                {{ "account.addressesSetAsDefaultShippingAction"|trans|sw_sanitize }}
                            </button>
                        </form>
                {% endif %}
            {% endblock %}

        {% endblock %}

{% endblock %}