{% set lineItemsQuantity = lineItemsQuantity|default(0) %}
{% set icon = icon|default('shopping-cart-simple') %}
{% set showLabel = showLabel|default(false) %}

{% set classes = sh_define_classes({
    button: ['btn', 'cart-action-btn'],
    icon: ['position-relative', 'd-flex', 'justify-content-center', 'align-items-center'],
    badge: ['position-absolute', 'top-0', 'start-100', 'translate-middle', 'badge', 'rounded-pill'],
    label: []
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_cart_action %}
    <a class="{{ classes.button|join(' ') }}"
        href="{{ path('frontend.checkout.cart.page') }}"
        data-cart-widget="true"
        data-off-canvas-cart="true"
        title="{{ 'checkout.cartTitle'|trans|striptags }}"
        aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
        
        {% block shogun_component_cart_action_icon %}
            <span class="{{ classes.icon|join(' ') }}">

                {% block shogun_component_wishlist_action_icon_element %}
                    {{sh_icon(icon)}}
                {% endblock %}

                {% block shogun_component_cart_action_badge %}
                    {% if lineItemsQuantity > 0 %}
                        <span class="{{ classes.badge|join(' ') }}">
                            {{ lineItemsQuantity }}
                        </span>
                    {% endif %}
                {% endblock %}
            </span>
        {% endblock %}

        {% block shogun_component_cart_action_label %}
            {% if showLabel %}
                <span class="{{ classes.label|join(' ') }}">
                    {{ 'checkout.cartTitle'|trans|striptags }}
                </span>
            {% endif %}
        {% endblock %} 
    </a>
{% endblock %}
