{% extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}

    {% block shogun_component_cart_widget_icon %}
        {{sh_icon('shopping-cart-simple')}}
    {% endblock %}

    {% block shogun_component_cart_widget_badge %}
        {% if page.cart.lineItems|length > 0 %}
            <span class="header-action-badge position-absolute top-0 start-100 translate-middle badge rounded-pill">
                {{ page.cart.lineItems|length }}
            </span>
        {% endif %}
    {% endblock %}
{% endblock %}