{% block shogun_component_promotion_form %}
    <form action="{{ path('frontend.checkout.promotion.add') }}"
        class="offcanvas-cart-promotion-form js-offcanvas-cart-add-promotion"
        method="post">

        {% block shogun_component_promotion_redirect %}
            <input type="hidden"
                    name="redirectTo"
                    value="frontend.cart.offcanvas">
        {% endblock %}

        {% block shogun_component_promotion_input_group %}

            {% block shogun_component_promotion_label %}
                <label class="visually-hidden" for="addPromotionOffcanvasCartInput">
                    {{ 'checkout.addPromotionLabel'|trans|sw_sanitize }}
                </label>
            {% endblock %}

            <div class="input-group">

                {% block shogun_component_promotion_input %}
                    <input type="text"
                        name="code"
                        class="form-control"
                        id="addPromotionOffcanvasCartInput"
                        placeholder="{{ 'checkout.addPromotionPlaceholder'|trans|striptags }}"
                        aria-label="{{ 'checkout.addPromotionLabel'|trans|striptags }}"
                        aria-describedby="addPromotionOffcanvasCart"
                        required="required" />
                {% endblock %}

                {% block shogun_component_promotion_submit %}
                    <button class="btn btn-secondary"
                        type="submit"
                        id="addPromotionOffcanvasCart">
                        {{sh_icon('check')}}
                    </button>
                {% endblock %}
            </div>
        {% endblock %}
    </form>
{% endblock %}