{% set classes = sh_define_classes({
    form: ['shipping-calculation-form'],
    collapseBtn: ['btn', 'cart-shipping-costs-btn'],
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_shipping_calculation %}
    <form name="precalc"
        method="post"
        action="{{ path('frontend.checkout.configure') }}"
        class="{{ classes.form|join(' ') }}"
        data-form-auto-submit="true">

        {% block shogun_component_shipping_calculation_trigger %}
            {% set PHYSICAL_STATE = constant('Shopware\\Core\\Content\\Product\\State::IS_PHYSICAL') %}
            {% if page.cart.lineItems.hasLineItemWithState(PHYSICAL_STATE) %}
                <a class="{{ classes.collapseBtn|join(' ') }}"
                    data-bs-toggle="collapse"
                    href="#collapseShippingCost"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                    {{ 'checkout.shippingCosts'|trans|sw_sanitize }}

                    {% block shogun_component_shipping_calculation_trigger_icon %}
                        {{sh_icon('caret-down')}}
                    {% endblock %}
                </a>
            {% endif %}
        {% endblock %}

        {% block shogun_component_shipping_calculation_form_group %}
            <div class="collapse" id="collapseShippingCost">
                <div class="shipping-calculation-selects">
                    {% block shogun_component_shipping_calculation_country %}
                        {% if not context.customer %}
                            <div class="form-group">
                                <label class="form-label" for="countryId">{{ 'checkout.shippingCountry'|trans|sw_sanitize }}</label>
                                <select class="form-select" type="text" id="countryId" name="countryId">
                                    {% for country in page.countries %}
                                        <option value="{{ country.id }}"
                                            {{ country.id == context.shippingLocation.country.id ? 'selected="selected"' : '' }}>
                                            {{ country.translated.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endblock %}

                    {% block shogun_component_shipping_calculation_payment_method %}
                        <div class="form-group">
                            <label class="form-label" for="paymentMethodId">{{ 'checkout.paymentMethod'|trans|sw_sanitize }}</label>
                            <select class="form-select" type="text" id="paymentMethodId" name="paymentMethodId">
                                {% if context.paymentMethod.id not in page.paymentMethods.ids %}
                                    <option value="{{ context.paymentMethod.id }}"
                                            selected="selected"
                                            disabled="disabled">
                                        {{ context.paymentMethod.translated.name }} {{ 'checkout.notAvailableSuffix'|trans|sw_sanitize }}
                                    </option>
                                {% endif %}
                                {% for payment in page.paymentMethods %}
                                    <option value="{{ payment.id }}"
                                        {% if payment.id == context.paymentMethod.id %} selected="selected"{% endif %}>
                                        {{ payment.translated.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endblock %}

                    {% block shogun_component_shipping_calculation_shipping_method %}
                        <div class="form-group">
                            <label class="form-label" for="shippingMethodId">{{ 'checkout.shippingMethod'|trans|sw_sanitize }}</label>
                            <select class="form-select" type="text" id="shippingMethodId" name="shippingMethodId">
                                {% if context.shippingMethod.id not in page.shippingMethods.ids %}
                                    <option value="{{ context.shippingMethod.id }}"
                                            selected="selected"
                                            disabled="disabled">
                                        {{ context.shippingMethod.translated.name }} {{ 'checkout.notAvailableSuffix'|trans|sw_sanitize }}
                                    </option>
                                {% endif %}
                                {% for shipping in page.shippingMethods %}
                                    <option value="{{ shipping.id }}"
                                        {% if shipping.id == context.shippingMethod.id %} selected="selected"{% endif %}>
                                        {{ shipping.translated.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endblock %}

                    <input type="hidden" name="redirectTo" value="frontend.checkout.cart.page">
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}