{% set classes = sh_define_classes({
    container: ['cart-summary'],
    list: ['cart-summary-list']
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_cart_summary %}
    <div class="{{classes.container|join(' ')}}">
        {% block shogun_component_cart_summary_list %}
            <div class="{{classes.list|join(' ')}}">

                {% block shogun_component_cart_summary_item_total %}
                    {% if showTotal is not same as(false) %}
                        {% sw_include '@Storefront/shogun/component/cart/summary-item.html.twig'
                            with {
                                label: 'checkout.subtotalAmount'|trans|sw_sanitize,
                                value: summary.price.positionPrice|currency,
                                classes: {
                                    item: ['summary-item-total']
                                }
                            } 
                        only %}
                    {% endif %}
                {% endblock %}

                {% block shogun_component_cart_summary_item_shippings %}
                    {% if summary.deliveries is defined && showShipping is not same as(false) %}
                        {% for delivery in summary.deliveries %}
                            {% block shogun_component_cart_summary_item_shipping %}
                                {% sw_include '@Storefront/shogun/component/cart/summary-item.html.twig'
                                    with {
                                        label: 'checkout.summaryShipping'|trans|sw_sanitize,
                                        value: delivery.shippingCosts.totalPrice|currency,
                                        classes: {
                                            item: ['summary-item-shipping']
                                        }
                                    } 
                                only %}
                            {% endblock %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                {% block shogun_component_cart_summary_item_grand_total %}
                    {% if showGrandTotal is not same as(false) %}
                        {% set total = summary.price.totalPrice %}

                        {% sw_include '@Storefront/shogun/component/cart/summary-item.html.twig'
                            with {
                                label: 'checkout.summaryTotalPrice'|trans|sw_sanitize,
                                value: total|currency,
                                classes: {
                                    item: ['summary-item-grand-total']
                                }
                            } 
                        only %}
                    {% endif %}
                {% endblock %}

                {% block shogun_component_cart_summary_item_net_total %}
                    {% if showNetTotal is not same as(false) %}
                        {% sw_include '@Storefront/shogun/component/cart/summary-item.html.twig'
                            with {
                                label: 'checkout.summaryNetPrice'|trans|sw_sanitize,
                                value: summary.price.netPrice|currency,
                                classes: {
                                    item: ['summary-item-net-total']
                                }
                            } 
                        only %}
                    {% endif %}
                {% endblock %}

                {% block shogun_component_cart_summary_item_taxes %}
                    {% if showTax is not same as(false) %}
                        {% for taxItem in summary.price.calculatedTaxes %}
                            {% block shogun_component_cart_summary_item_tax %}
                                {% set label = 'checkout.summaryTax'|trans({
                                    '%rate%': taxItem.taxRate
                                })|sw_sanitize %}

                                {% sw_include '@Storefront/shogun/component/cart/summary-item.html.twig'
                                    with {
                                        label: label,
                                        value: taxItem.tax|currency,
                                        classes: {
                                            item: ['summary-item-tax-total']
                                        }
                                    } 
                                only %}
                            {% endblock %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}

            </div>
        {% endblock %}
    </div>
{% endblock %}