{% sw_extends '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
    {% set acceptAllCookies = config('core.basicInformation.acceptAllCookies') %}
    {% set useDefaultCookieConsent = config('core.basicInformation.useDefaultCookieConsent') == true %}

    {% if useDefaultCookieConsent %}
        {% block shogun_component_cookie_banner %}

            {% set cookieBannerClasses = [
                'cookie-permission-container', 'fixed-bottom', 'bg-white', 'border-top', 'py-4', 'shadow-lg'
            ] %}

            {% set containerClasses = [
                'container', 'align-items-center', 'gap-3', 'd-flex', 'flex-wrap'
            ] %}

            {% set contentClasses = [
                'col', 'cookie-permission-content'
            ] %}

            <div
                class="{% block shogun_component_cookie_banner_classes %}{{cookieBannerClasses|join(' ')}}{% endblock %}"
                data-cookie-permission="true">

                <div class="{% block shogun_component_cookie_banner_container_classes %}{{containerClasses|join(' ')}}{% endblock %}">

                    {% block layout_cookie_permission_inner_content %}
                        <div class="col cookie-permission-content">
                            {{ 'cookie.messageText'|trans({
                                '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                            })|raw }}
                        </div>
                    {% endblock %}

                    {% block layout_cookie_permission_inner_button %}
                        <div class="col-auto d-flex flex-wrap gap-3 cookie-permission-actions">
                            {% block layout_cookie_permission_inner_button_deny %}
                                <span class="cookie-permission-button js-cookie-permission-button">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        {{ 'cookie.deny'|trans|sw_sanitize }}
                                    </button>
                                </span>
                            {% endblock %}

                            {% block layout_cookie_permission_inner_button_configuration %}
                                <span class="js-cookie-configuration-button">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        {{ 'cookie.configure'|trans|sw_sanitize }}
                                    </button>
                                </span>
                            {% endblock %}

                            {% if acceptAllCookies %}
                                {% block layout_cookie_permission_inner_button_accept_all %}
                                    <span class="js-cookie-accept-all-button">
                                        <button
                                            type="submit"
                                            class="btn btn-primary">
                                            {{ 'cookie.acceptAll'|trans|sw_sanitize }}
                                        </button>
                                    </span>
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock %}

                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}