{% sw_extends '@Storefront/shogun/component/offcanvas/offcanvas.html.twig' %}

{% block shogun_component_offcanvas_header_title_content %}
    {{ 'cookie.headline'|trans|sw_sanitize }}
{% endblock %}

{% block utilities_offcanvas_content %}
    <div class="offcanvas-cookie">
        <div class="offcanvas-cookie-description">
            <p>
                {{ 'cookie.messageText'|trans({
                    '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                })|raw }}
            </p>

            <div class="row align-items-center h6 offcanvas-cookie-header">
                <div class="col">
                    {{ 'cookie.configuration'|trans|sw_sanitize }}
                </div>
            </div>
        </div>

        <div class="offcanvas-cookie-list">
            {% for cookieGroup in cookieGroups %}
                {% sw_include '@Storefront/shogun/component/cookie/cookie-configuration-group.html.twig' with {
                    themeIconConfig: themeIconConfig,
                    cookieGroup: cookieGroup
                } only %}
            {% endfor %}
        </div>

        {% if config('core.basicInformation.acceptAllCookies') %}
            {% block layout_cookie_configuration_allow_all_button %}
                <div class="d-grid mb-2">
                    <button
                        type="submit"
                        class="btn btn-primary btn-block js-offcanvas-cookie-accept-all">
                        {{ 'cookie.acceptAll'|trans|sw_sanitize }}
                    </button>
                </div>
            {% endblock %}
        {% endif %}

        {% block layout_cookie_configuration_button %}
            <div class="d-flex flex-wrap py-3">
                <button
                    type="submit"
                    class="btn btn-lg btn-success js-offcanvas-cookie-submit">
                    {{sh_icon('check')}}
                    {{ 'cookie.save'|trans|sw_sanitize }}
                </button>
            </div>
        {% endblock %}
    </div>
{% endblock %}