/*
Custom variables
==================================================
Contains custom non bootstrap variables.
*/

$search-suggest-zindex: 1000 !default;
$offcanvas-zindex: 1050 !default;
$cookie-msg-zindex: 1100 !default;
$scroll-up-zindex: 700 !default;
$menu-flyout-zindex: 750 !default;
$zoom-modal-action-zindex: 1051 !default;
$magnifier-overlay-zindex: 1100 !default;

$icon-base-size: 22px !default;
$icon-base-color: #4a545b !default;
$icon-review-color: #fedc70 !default;

$progress-bar-review: $icon-review-color !default;

$element-backdrop-bg: rgba(#fff, 0.5) !default;

$spacer-xs: ( $spacer * 0.25 ) !default;
$spacer-sm: ( $spacer * 0.5 ) !default;
$spacer-md: $spacer !default;
$spacer-lg: ( $spacer * 1.5 ) !default;
$spacer-xl: ( $spacer * 3 ) !default;
$sw-asset-theme-url: '' !default;
$sw-features: () !default;

$theme-id: '' !default;
$app-css-relative-asset-path: '../../' + $theme-id + '/assets' !default;

$buy-btn-bg: $sw-color-buy-button !default;
$buy-btn-color: $sw-color-buy-button-text !default;

$disabled-btn-bg: #eee !default;
$disabled-btn-border-color: #eee !default;

$cms-block-text-hero-hr-color: #e9edf0 !default;
$cms-element-text-quotes-color: #9aa7be !default;
$cms-element-product-listing-gutter-width: 30px !default;

$price-color: $sw-color-price !default;

$font-weight-semibold: 600 !default;

$order-grid-gutter-width: 20px !default;