{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_overview %}

    {% set classes = sh_define_classes({
        container: ['order-item', 'card'],
        header: {},
        headerSummary: {},
        details: {},
    }, classes|default({}), replaceClasses|default(false)) %}

    <div class="{{classes.container|join(' ')}}">

        {% block shogun_component_order_item_header_include %}
            {% sw_include '@Storefront/shogun/component/order/item-header.html.twig' with {
                classes: classes.header,
            } %}
        {% endblock %}

        {% block shogun_component_order_item_header_summary_include %}
            {% sw_include '@Storefront/shogun/component/order/item-header-summary.html.twig' with {
                classes: classes.headerSummary,
            } %}
        {% endblock %}

        {% block page_account_order_item_detail %}
            {% sw_include '@Storefront/shogun/component/order/item-details.html.twig' with {
                classes: classes.details,
            } %}
        {% endblock %}
    </div>
{% endblock %}