{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}

{% block page_account_order_item_detail_overview %}

    {% set classes = sh_define_classes({
        body: ['order-detail-content-body'],
        footer: ['order-detail-content-footer'],
        lineItem: {},
        summary: {},
    }, classes|default({}), replaceClasses|default(false)) %}

    {{ parent() }}
{% endblock %}

{% block page_account_order_documents_table %}
{% endblock %}

{% block page_account_order_item_detail_table_header %}
{% endblock %}

{% block page_account_order_item_detail_table_body_customer_comment %}
{% endblock %}

{% block page_account_order_item_detail_table_body %}
    <div class="{{classes.body|join(' ')}}">
        {% sw_include '@Storefront/shogun/component/order/item-details-list.html.twig' with {
            classes: classes.lineItem
        } %}
    </div>
{% endblock %}

{% block page_account_order_item_detail_table_footer %}

    {% block page_account_order_item_detail_table_labels_summary %}
        <div class="{{classes.footer|join(' ')}}">

            {% sw_include '@Storefront/shogun/component/order/item-details-summary.html.twig' with {
                classes: classes.summary
            } %}
        </div>
    {% endblock %}
{% endblock %}