{% set classes = sh_define_classes({
    item: ['order-item-summary-item'],
    label: ['order-item-summary-item-label'],
    value: ['order-item-summary-item-value'],
}, classes|default({}), replaceClasses|default(false)) %}

{% block shogun_component_order_item_summary_item %}
    <div class="{{ classes.item|join(' ') }}">

        {% block shogun_component_order_item_summary_item_label %}
            <div class="{{ classes.label|join(' ') }}">
                {{ label|raw }}
            </div>
        {% endblock %}

        {% block shogun_component_order_item_summary_item_value %}
            <div class="{{ classes.value|join(' ') }}">
                {{ value|raw }}
            </div>
        {% endblock %}
    </div>
{% endblock %}