{% block shogun_component_gallery_slider_canvas_container %}
    <div class="gallery-slider-canvas-container position-relative">3trehgfg

        {% block shogun_component_gallery_slider_canvas %}
            <div class="gallery-slider-canvas splide">

                {% block shogun_component_gallery_slider_canvas_arrows_control %}
                    <div class="splide__arrows">
                        {% block shogun_component_gallery_slider_canvas_arrows_control_prev %}
                            <button class="slider-control-button control-prev splide__arrow splide__arrow--prev">
                                {{sh_icon('caret-left')}}
                            </button>
                        {% endblock %}
                        {% block shogun_component_gallery_slider_canvas_arrows_control_next %}
                            <button class="slider-control-button control-next splide__arrow splide__arrow--next">
                                {{sh_icon('caret-right')}}
                            </button>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block shogun_component_gallery_slider_canvas_track %}
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for media in medias %}
                                {% block shogun_component_gallery_slider_canvas_item %}
                                    <li class="gallery-slider-canvas-item splide__slide">
                                        {% sw_thumbnails 'gallery-slider-canvas-image' with {
                                            media: media,
                                            attributes: {
                                                class: 'gallery-slider-canvas-image'
                                            }
                                        } %}
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}

    </div>
{% endblock %}