{% block shogun_component_product_box_base %}
    {# Includes a custom product-box template defined by the layout variable.
       The default template is used if no custom layout is set. #}

    {% if layout is empty or layout is same as('standard') %}
        {% set layout = 'default' %}
    {% endif %}

    {% set sizes = {
        xs: '500px',
        sm: '315px',
        md: '390px',
        lg: '350px',
        xl: '280px'
    } %}

    {% if layout == 'image' %}
        {% set sizes = {
            xs: '500px',
            sm: '500px',
            md: '390px',
            lg: '350px',
            xl: '280px'
        } %}
    {% endif %}

    {% block shogun_component_product_box_include %}
        {% set template = '@Storefront/shogun/component/product/box/' ~ layout ~ '.html.twig' %}
        {% sw_include template ignore missing %}
    {% endblock %}
{% endblock %}