{% block shogun_component_product_box_media %}
<a href="{{ seoUrl('frontend.detail.page', { productId: id }) }}"
    title="{{ name }}"
    class="flex-fill product-image-link is-{{ displayMode }}">
    {% block component_product_box_image_link_inner %}
        {% if cover.url and cover.isSpatialObject() == false %}
            {% set attributes = {
                class: 'img-fluid w-100 product-image is-' ~ displayMode,
                title: (cover.translated.title ?: name)
            } %}

            {% if cover.getMediaType().getName() === 'VIDEO' %}
                {% if config('core.listing.autoplayVideoInListing') %}
                    {% set attributes = attributes|merge({
                        autoplay: true,
                        loop: true
                    }) %}
                {% endif %}

                {% block component_product_box_video %}
                    {% sw_include '@Storefront/storefront/utilities/video.html.twig' with {
                        media: cover,
                        attributes: attributes
                    } %}
                {% endblock %}
            {% else %}
                {% set attributes = attributes|merge({
                    alt: (cover.translated.alt ?: name),
                    loading: 'lazy'
                }) %}

                {% if displayMode == 'cover' or displayMode == 'contain' %}
                    {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                {% endif %}

                {% block component_product_box_image_thumbnail %}
                    {% sw_thumbnails 'product-image-thumbnails' with {
                        media: cover,
                        sizes: sizes,
                        attributes: attributes
                    } %}
                {% endblock %}
            {% endif %}
        {% else %}
            {% block component_product_box_image_placeholder %}
                <div class="product-image-placeholder">
                    {% sw_icon 'placeholder' style {
                        size: 'fluid'
                    } %}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
</a>
{% endblock %}