{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box %}

    {% set classes = sh_define_classes({
        box: ['card', 'product-box', layout ? 'box-' ~ layout : null],
        imageWrapper: ['card-body', 'flex-grow-0', 'flex-shrink-0', 'd-flex', 'justify-content-center', 'align-items-center', 'product-image-wrapper'],
        info: ['card-body', 'flex-fill', 'product-box-info'],
        header: ['product-box-header'],
        body: ['product-box-body'],
        footer: ['product-box-footer'],
    }, classes|default({}), replaceClasses|default(false)) %}

    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set variation = product.variation %}
        {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}

        <div class="{{ classes.box|join(' ') }}" data-product-information="{{ {id, name}|json_encode }}">

            {% block component_product_box_image %}
                <div class="{{ classes.imageWrapper|join(' ') }}">
                    {% block component_product_box_image_prepend %}{% endblock %}
                    
                    {% block component_product_box_badges %}
                        {% sw_include '@Storefront/shogun/component/product/box/badges.html.twig' %}
                    {% endblock %}

                    {# fallback if display mode is not set #}
                    {% set displayMode = displayMode ?: 'standard' %}

                    {# set display mode 'cover' for box-image with standard display mode #}
                    {% if layout == 'image' and displayMode == 'standard' %}
                        {% set displayMode = 'cover' %}
                    {% endif %}

                    {% block component_product_box_image_link %}
                        {% sw_include '@Storefront/shogun/component/product/box/cover.html.twig' %}
                    {% endblock %}

                    {% block component_product_box_wishlist_action %}
                        {% if config('core.cart.wishlistEnabled') %}
                            {% sw_include '@Storefront/shogun/component/product/action-wishlist.html.twig' with {
                                showText: false,
                                productId: id,
                                classes: {
                                    action: ['product-box-wishlist-action']
                                }
                            } %}
                        {% endif %}
                    {% endblock %}

                    {% block component_product_box_image_append %}{% endblock %}
                </div>
            {% endblock %}

            {% block component_product_box_content %}

                {% block component_product_box_info %}
                    <div class="{{ classes.info|join(' ') }}">

                        {% block component_product_box_header %}
                            <div class="{{ classes.header|join(' ') }}">

                                {% block component_product_box_rating %}
                                    {% if config('core.listing.showReview') && product.ratingAverage %}
                                        <div class="product-rating">
                                            {% sw_include '@Storefront/shogun/component/review/rating.html.twig' with {
                                                points: product.ratingAverage
                                            } %}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block component_product_box_name %}
                                    <a href="{{ seoUrl('frontend.detail.page', {productId: id}) }}"
                                        class="product-name"
                                        title="{{ name }}">
                                        {{ name }}
                                    </a>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block component_product_box_body %}
                            <div class="{{ classes.body|join(' ') }}">

                                {% block component_product_box_variant_characteristics %}
                                    {% if not displayParent && product.variation %}
                                        <div class="product-variant-characteristics">
                                            <div class="product-variant-characteristics-text">
                                                {% for variation in product.variation %}
                                                    {{ variation.group }}:
                                                    <span class="product-variant-characteristics-option">
                                                        {{ variation.option }}
                                                    </span>

                                                    {% if product.variation|last != variation %}
                                                        {{ ' | ' }}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block component_product_box_description %}
                                    <div class="product-description">
                                        {{ product.translated.description|striptags|raw }}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block component_product_box_footer %}
                            <div class="{{ classes.footer|join(' ') }}">

                                {% block component_product_box_price %}
                                    {% sw_include '@Storefront/shogun/component/product/box/price.html.twig' %}
                                {% endblock %}

                                {% block component_product_box_action %}
                                    {% sw_include '@Storefront/shogun/component/product/box/action.html.twig' %}
                                {% endblock %}
                            </div>
                        {% endblock %}

                    </div>
                {% endblock %}

            {% endblock %}
        </div>
    {% endif %}
{% endblock %}