{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price %}

    {% block component_product_box_price_cheapest_price %}
        {% if cheapest.unitPrice != real.unitPrice and cheapest.variantId != product.id %}
            <div class="product-cheapest-price{% if isListPrice and isRegulationPrice and not displayFrom and not displayFromVariants %} with-list-price{% endif %}{% if isRegulationPrice and not displayFrom and displayFromVariants %} with-regulation-price{% endif %}{% if displayFrom and isRegulationPrice %} with-from-price{% endif %}">
                {{ 'listing.cheapestPriceLabel'|trans|sw_sanitize }}<span class="product-cheapest-price-price"> {{ cheapest.unitPrice|currency }}{{ 'general.star'|trans|sw_sanitize }}</span>
            </div>
        {% endif %}
    {% endblock %}

    {% block component_product_box_price_wrapper %}
        <div class="product-price-wrapper">
            {% set price = real %}
            {% set isListPrice = price.listPrice.percentage > 0 %}
            {% set isRegulationPrice = price.regulationPrice != null %}

            <span class="product-price{% if isListPrice and not displayFrom and not displayFromVariants %} with-list-price{% endif %}">
                {% if displayFrom or (displayParent and hasDifferentPrice and totalVariants|length > 1) %}
                    <span class="price-from-label">
                        {{ 'listing.listingTextFrom'|trans|sw_sanitize }}
                    </span>
                {% endif %}

                {{ price.unitPrice|currency }} 
                {% block component_product_box_price_star %}{{ 'general.star'|trans|sw_sanitize }}{% endblock %}
            </span>

            {% if isListPrice and not displayFrom and not displayFromVariants %}
                {% set afterListPriceSnippetExists = 'listing.afterListPrice'|trans|length > 0 %}
                {% set beforeListPriceSnippetExists = 'listing.beforeListPrice'|trans|length > 0 %}
                {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">
                    {% if beforeListPriceSnippetExists %}{{ 'listing.beforeListPrice'|trans|trim|sw_sanitize }}{% endif %}
                    {{ price.listPrice.price|currency }}
                    {% if afterListPriceSnippetExists %}{{ 'listing.afterListPrice'|trans|trim|sw_sanitize }}{% endif %}
                </span>
            {% endif %}
            
            {% if isRegulationPrice %}
                <span class="product-price with-regulation-price">
                    {% if isListPrice %}<br>{% endif %}<span class="regulation-price">{{ 'general.listPricePreviously'|trans({'%price%': price.regulationPrice.price|currency }) }}{{ 'general.star'|trans|sw_sanitize }}</span>
                </span>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}