{% block shogun_component_header_actions %}
    <div class="header-actions-col">

        {% block shogun_component_header_navigation_toggle %}
            <div class="col-auto header-action menu-button">
                {% block layout_header_navigation_toggle_button %}
                    <button
                        class="btn nav-main-toggle-btn header-actions-btn"
                        type="button"
                        data-off-canvas-menu="true"
                        aria-label="{{ 'general.menuLink'|trans|striptags }}"
                    >
                        {{sh_icon('list')}}
                    </button>
                {% endblock %}
            </div>
        {% endblock %}

        {% block shogun_component_header_search_toggle %}
            <div class="col-auto header-action search-toggle">
                <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse"
                        aria-expanded="false"
                        aria-controls="searchCollapse"
                        aria-label="{{ 'header.searchButton'|trans|striptags }}">
                    {{sh_icon('magnifying-glass')}}
                </button>
            </div>
        {% endblock %}

        {% block shogun_component_header_action_wishlist %}
            {% if config('core.cart.wishlistEnabled') %}
                {% block layout_header_actions_wishlist %}
                    <div class="col-auto header-action header-wishlist">
                        <a class="btn header-wishlist-btn header-actions-btn"
                            href="{{ path('frontend.wishlist.page') }}"
                            title="{{ 'header.wishlist'|trans|striptags }}"
                            aria-label="{{ 'header.wishlist'|trans|striptags }}">
                            {% sw_include '@Storefront/shogun/component/wishlist/widget.html.twig' %}
                        </a>
                    </div>
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block shogun_component_actions_account %}
            <div class="col-auto header-action account-menu">
                {% sw_include '@Storefront/shogun/component/account/account-widget.html.twig' %}
            </div>
        {% endblock %}

        {% block shogun_component_actions_cart %}
            {% set options = {
                changeProductQuantityTriggerNumberSelector: '.quantity-selector-group-input'
            } %}
            <div class="col-auto header-action header-cart"
                data-off-canvas-cart="true"
                data-off-canvas-cart-options="{{options|json_encode}}">

                <a class="btn position-relative header-cart-btn header-actions-btn"
                    href="{{ path('frontend.checkout.cart.page') }}"
                    data-cart-widget="true"
                    title="{{ 'checkout.cartTitle'|trans|striptags }}"
                    aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                    {% sw_include '@Storefront/shogun/component/cart/cart-widget.html.twig' %}
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}